{% extends "base.html" %}

{% block stylesheets %}
<style>
  .scoreboard-name {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .scoreboard-symbol {
      margin: auto;
      height: 3em;
  }

  .scoreboard-belt {
      height: 1.5em;
  }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Scoreboard</h1>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  <h2>All Time Rankings</h2>

  <div id="scoreboard" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <td scope="col" class="col-md-1"><b>Rank</b></td>
            <td scope="col" class="col-md-1"></td>
	    <td scope="col" class="col-md-8"><b>Hacker</b></td>
	    <td scope="col" class="col-md-1"></td>
	    <td scope="col" class="col-md-1"><b>Score</b></td>
	  </tr>
	</thead>
	<tbody>
	  {% for standing in standings %}
	  <tr>
	    <th scope="row">#{{ loop.index }}</th>
            <td class="p-0">
              <img src="{{ email_group_asset(standing.email) }}" class="scoreboard-symbol">
            </td>
	    <td>
	      <a href="{{ generate_account_url(standing.account_id) }}" class="scoreboard-name text-decoration-none">
		{{ standing.name | truncate(50) }}
	      </a>
	    </td>
            <td>
              <img src="{{ belt_asset(belts.get(standing.account_id)) }}" class="scoreboard-belt">
            </td>
	    <td>{{ standing.score }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block entrypoint %}
<script defer src="/plugins/pwncollege_plugin/assets/scoreboard/scoreboard.js"></script>
{% endblock %}
