{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Scoreboard</h1>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  <div id="score-graph" class="row d-flex align-items-center">
    <div class="col-md-12 text-center">
      <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
    </div>
  </div>

  {% if standings %}
  <div id="scoreboard" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <td scope="col" width="10px"><b>Place</b></td>
            <td scope="col" width="10px"></td>
	    <td scope="col"><b>Team</b></td>
	    <td scope="col"><b>Score</b></td>
	  </tr>
	</thead>
	<tbody>
	  {% for standing in standings %}
	  <tr>
	    <th scope="row" class="text-center">{{ loop.index }}</th>
            <td style="padding-top: 0px; padding-bottom: 0px;">
              <img src="{{ email_group_asset(standing.email) }}" style="height: 3em;">
            </td>
	    <td>
	      <a href="{{ generate_account_url(standing.account_id) }}">
		{{ standing.name | truncate(50) }}
	      </a>
	    </td>
	    <td>{{ standing.score }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/echarts.bundle.js') }}"></script>
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/scoreboard.js') }}"></script>
{% endblock %}
