[submodule "CTFd-pwn-college-plugin"]
	path = CTFd-pwn-college-plugin
	url = https://github.com/pwncollege/CTFd-pwn-college-plugin
[submodule "CTFd"]
	path = CTFd
	url = https://github.com/pwncollege/CTFd
