version: '3.3'

services:
  ctfd:
    container_name: "${COMPOSE_PROJECT_NAME}_ctfd"
    build: CTFd
    user: root
    restart: always
    ulimits:
        nofile:
            soft: 32768
            hard: 1048576
    environment:
      - UPLOAD_FOLDER=/var/uploads
      - DATABASE_URL=mysql+pymysql://ctfd:ctfd@db/ctfd
      - REDIS_URL=redis://cache:6379
      - WORKERS=8
      - LOG_FOLDER=/var/log/CTFd
      - ACCESS_LOG=-
      - ERROR_LOG=-
      - REVERSE_PROXY=true
      - VIRTUAL_PORT=8000
    env_file:
      - ./config.env
    volumes:
      - .data/CTFd/logs:/var/log/CTFd
      - .data/CTFd/uploads:/var/uploads
      - ./CTFd:/opt/CTFd:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - .data/challenges:/challenges:ro
    depends_on:
      - db
      # - home_daemon
    networks:
        default:
        internal:

  db:
    container_name: "${COMPOSE_PROJECT_NAME}_db"
    image: mariadb:10.4.12
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=ctfd
      - MYSQL_USER=ctfd
      - MYSQL_PASSWORD=ctfd
      - MYSQL_DATABASE=ctfd
    volumes:
      - .data/mysql:/var/lib/mysql
    networks:
        internal:
    # This command is required to set important mariadb defaults
    command: [mysqld, --character-set-server=utf8mb4, --collation-server=utf8mb4_unicode_ci, --wait_timeout=28800, --log-warnings=0]

  cache:
    container_name: "${COMPOSE_PROJECT_NAME}_cache"
    image: redis:4
    restart: always
    volumes:
      - .data/redis:/data
    networks:
        internal:

  # home_daemon:
  #   build: home_daemon
  #   user: root
  #   restart: always
  #   privileged: true
  #   volumes:
  #     - type: bind
  #       source: .data/homes
  #       target: /homes
  #       bind:
  #           propagation: shared
  #   networks:
  #       internal:

networks:
    default:
    internal:
        internal: true
