[Desktop Entry]
Version=1.0
Type=Application
Name=angr-management
Comment=angr's GUI
Exec=/opt/angr-management/angr-management
Icon=/opt/angr-management/_internal/angrmanagement/resources/images/angr.ico
Path=
Terminal=false
StartupNotify=false
Categories=Application;Development;
X-XFCE-Source=file:///usr/share/applications/angr-management.desktop
