{% macro navitem(name, url, icon, new=False, shrink=False) %}
<li class="nav-item">
  {% if not new %}
  <a class="nav-link" href="{{ url }}">
  {% else %}
  <a class="nav-link" href="{{ url }}" target="_blank">
  {% endif %}
    <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="{{ name }}">
      <i class="fas {{ icon }} d-none d-md-block d-lg-none"></i>
    </span>
    <span class="d-sm-block d-md-none d-lg-block text-nowrap">
      <i class="fas {{ icon }} pr-1"></i>
      {% if not shrink %}
      {{ name }}
      {% else %}
      <span class="d-lg-none">{{ name }}</span>
      {% endif %}
    </span>
  </a>
</li>
{% endmacro %}

{% macro card(url, title=None, text_lines=None, icon=None, emoji=None, custom=False, solve_percent=0) -%}
  <a class="text-decoration-none" href="{{ url }}">
    <li class="card card-small">
      <div class="card-body">
        {% if title %}<h4 class="card-title">{{ title }}</h4>{% endif %}
        {% if icon or emoji %}
        <div class="card-icon">
          {% if icon %}<img src="{{ icon }}">{% endif %}
          {% if emoji %}{{ emoji }}{% endif %}
        </div>
        {% endif %}
        {% if text_lines %}<p class="card-text">{% for text in text_lines %}{{ text }}<br>{% endfor %}</p>{% endif %}
        {% if custom %}{{ caller() }}{% endif %}
        <div class="progress-bar" style="width:{{solve_percent}}%">
          {% if solve_percent != 0 %}
            <span class="progress-bar-text">{{solve_percent|round(0, 'floor')|int}}%</span>
          {% endif %}
        </div>
      </div>
    </li>
  </a>
{%- endmacro %}

{% macro accordion_item(accordion_id, item_id) %}
  <div class="accordion-item">
    <div class="accordion-item-header" id="{{ accordion_id }}-header-{{ item_id }}">
      <h2 class="mb-0">
        <button id="{{ accordion_id }}-header-button-{{ item_id }}" class="btn btn-link text-decoration-none w-100 collapsed" type="button" data-toggle="collapse" data-target="#{{ accordion_id }}-body-{{ item_id }}" aria-expanded="false" aria-controls="{{ accordion_id }}-body-{{ item_id }}">
          {{ caller(True) }}
        </button>
      </h2>
    </div>

    <div id="{{ accordion_id }}-body-{{ item_id }}" class="collapse" aria-labelledby="{{ accordion_id }}-header-{{ item_id }}" data-parent="#{{ accordion_id }}">
      <div class="accordion-item-body">
        {{ caller(False) }}
      </div>
    </div>
  </div>
{% endmacro %}

{% set svg_add_icon %}
<svg class="w-100 h-100">
  <circle cx="50%" cy="50%" r="30%" stroke="gray" fill="none" stroke-width="8" stroke-dasharray="8"></circle>
  <g stroke="gray" stroke-width="8">
    <line x1="50%" y1="30%" x2="50%" y2="70%"></line>
    <line x1="30%" y1="50%" x2="70%" y2="50%"></line>
  </g>
</svg>
{% endset %}

{% macro dojo_grid(dojos, dojo_container_counts, create_icon=None) -%}
  <ul class="card-list">
    {% for dojo, solves in dojos %}
      {% set icon = "/themes/dojo_theme/static/img/dojo/{}.svg".format(dojo.award.belt) if (dojo.award.belt and dojo.official) else None %}
      {% set solve_percent = (solves / dojo.challenges_count) * 100 if dojo.challenges_count else 0 %}
      {{ card(
        url_for("pwncollege_dojo.view_dojo", dojo=dojo.reference_id),
        title=dojo.name or dojo.id,
        text_lines=[
          "{} Hacking".format(dojo_container_counts.get(dojo.reference_id, 0)) if dojo_container_counts.get(dojo.reference_id, 0) else "",
          "{} Module{}".format(dojo.modules_count, "" if dojo.modules_count == 1 else "s"),
          "{} Challenge{}".format(dojo.challenges_count, "" if dojo.challenges_count == 1 else "s"),
        ],
        icon=icon,
        emoji=dojo.award.emoji,
        solve_percent=solve_percent,
      ) }}
    {% endfor %}
    {% if create_icon %}
      {% call card(url_for("pwncollege_dojos.dojo_create"), custom=True) %}
        {{ svg_add_icon }}
      {% endcall %}
    {% endif %}
  </ul>
{%- endmacro %}
