{% extends "admin/challenges/update.html" %}

{% block message %}
<div class="form-group">
  <label>
    Docker Image Name<br>
    <small class="form-text text-muted">The docker image name for your challenge</small>
  </label>
  <input type="text" class="form-control chal-docker-image-name" name="docker_image_name" value="{{ challenge.docker_image_name }}">
</div>

<div class="form-group">
  <label>
    Message<br>
    <small class="form-text text-muted">
      Use this to give a brief introduction to your challenge.
    </small>
  </label>
  <textarea id="desc-editor" class="form-control chal-desc-editor markdown" name="description" rows="10">{{ challenge.description }}</textarea>
</div>
{% endblock %}
