{% extends "challenge.html" %}

{% block description %}
{{ challenge.html }}

<style>
  @keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
  }
  .animate-flicker {
  -webkit-animation: flickerAnimation 5.0s infinite;
  -moz-animation: flickerAnimation 5.0s infinite;
  -o-animation: flickerAnimation 5.0s infinite;
  animation: flickerAnimation 5.0s infinite;
  }
</style>

<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip();
  render_multi_solved("{{ challenge.category }}");
  });
</script>

{% if challenge.category == 'babysuid' %}
<br>
<label>
  <b>You have already solved:</b><br>
</label>
<div id="multi-solved" class="row overflow-auto" style="max-height: 250px">
  <div class="col-md-12">
    <table class="table table-striped">
      <tbody id="multi-solved-body">
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12 form-group">
    <input id="selected-path" class="form-control" type="text" placeholder="Path to selected binary"/>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-3 form-group text-center">
    <button type="submit" id="workon" class="btn btn-md btn-outline-secondary"
            data-toggle="tooltip" title="Run Challenge" onclick="javascript:workon({{ challenge.id }})">
      <i class="fas fa-play fa-2x"></i>
    </button>
  </div>
  <div class="col-sm-3 form-group text-center">
    <button type="submit" id="practice" class="btn btn-md btn-outline-secondary"
            data-toggle="tooltip" title="Practice Challenge" onclick="javascript:workon({{ challenge.id }}, true)">
      <i class="fas fa-flask fa-2x"></i>
    </button>
  </div>
  <div class="col-sm-3 form-group text-center">
    <button type="submit" id="download" class="btn btn-md btn-outline-secondary"
            data-toggle="tooltip" title="Download Challenge" onclick="javascript:download({{ challenge.id }})">
      <i class="fas fa-download fa-2x"></i>
    </button>
  </div>
  <div class="col-sm-3 form-group text-center">
    <button type="submit" id="inspect" class="btn btn-md btn-outline-secondary"
            data-toggle="tooltip" title="Inspect Challenge" onclick="javascript:inspect({{ challenge.id }})">
      <i class="fas fa-search fa-2x"></i>
    </button>
  </div>
</div>

{% endblock %}

{% block input %}
<input id="challenge-id" class="challenge-id" type="hidden" value="{{ challenge.id }}">
<input id="challenge-input" class="challenge-input" type="text" name="answer" placeholder="Flag"/>
{% endblock %}

{% block submit %}
<button id="challenge-submit" class="challenge-submit" type="submit">
  Submit
</button>
{% endblock %}
