<label>
  User Flag<br>
  <small>The flag is unique for each user</small>
</label>

<div class="form-group">
  <select class="form-control custom-select col-md-6" name="data">
    <option value="">Default</option>
    <option value="cheater" {% if data == 'cheater' %}selected{% endif %}>Accept cheater flags</option>
    <option value="multi" {% if data == 'multi' %}selected{% endif %}>Use category multi-flags</option>
    <option value="cheater,multi" {% if data == 'cheater,multi' %}selected{% endif %}>Accept cheater flags, use category multi-flags</option>
  </select>
</div>
<input type="hidden" class="form-control" name="content" value="{{ content }}">
<input type="hidden" name="type" value="user">
<input type="hidden" name="id" value="{{ id }}">
<hr>
<div class="form-group">
  <button class="btn btn-success float-right">Update</button>
</div>
