<style>
  :root {
    --background: #111;
    --foreground: #222;
    --highlight: #6c757d;
    --error: #800000;
    --warn: #d0c000;
  }

  .SSH {
    height: 0 !important;
    min-height: 0 !important;
  }

  .workspace-controls {
    width: 100%;
    margin: 5px 0;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .workspace-control {
    margin: 2px 2px;
    border-width: 0px;
    border-radius: 1em;
    background-color: var(--foreground);
  }

  button.workspace-control {
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .workspace-control input {
    height: 100% !important;
    box-sizing: border-box;
    padding-left: 0.5em;
    padding-right: 1em;
    color: #fff;
    background-color: var(--foreground);
    border: 0;
    border-color: #000 !important;
    border-radius: 1em;
    box-shadow: none !important;
  }

  .workspace-control input::placeholder {
    color: var(--highlight);
    opacity: 1;
  }

  .workspace-control input.disabled {
    color: var(--highlight);
  }

  .workspace-control select,
  .workspace-control input:focus,
  .workspace-control input:hover {
    outline: 0 !important;
  }

  .workspace-control select {
    height: 100%;
    padding-left: 1.5rem;
    border: 0;
    background-color: transparent;
    color: var(--highlight);
    font-weight: 700;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
  }

  .workspace-highlight {
    color: var(--highlight);
  }

  .workspace-input {
    padding-left: 1em;
  }

  .workspace-selector-body {
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .workspace-control-spacer {
    flex: 1;
  }

  @keyframes banner-animation {
    0% {
      left: 50%;
      width: 0%;
    }
    5% {
      left: 10%;
      width: 80%;
    }
    95% {
      left: 10%;
      width: 80%;
      border-width: 2px;
      padding-left: 1em;
      padding-right: 1em;
    }
    100% {
      left: 50%;
      width: 0;
      border-left-width: 0;
      border-right-width: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .animate-banner {
    animation-name: banner-animation;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    display: block !important;
  }

  .animate-banner-fast {
    animation-name: banner-animation;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    display: block !important;
  }

  #workspace-notification-banner {
    position: absolute;
    background-color: var(--foreground);
    color: #fff;
    border-color: var(--brand-green);
    border-style: solid;
    border-width: 2px;
    border-radius: 1em;
    padding: 1em;
    height: 4em;
    bottom: 4em;
    white-space: normal;
    text-align: center;
    overflow: hidden;
    display: none;
  }

  .burger {
    position: absolute;
    z-index: 1;
  }
</style>

<div class="workspace-controls">
  <div id="workspace-notification-banner"></div>
  <div title="Change workspace" class="workspace-selector-body workspace-control">
    <i class="fas fa-bars workspace-highlight burger"></i>
    <select id="workspace-select">
      {% for service in challenge.interfaces %}
      <option value="{{ service.name | lower }}: {{ service.port }}">&#160;&#160;{{ service.name }}</option><!-- I hate it :( -->
      {% endfor %}
    </select>
  </div>
  <div title="Enter flag" class="workspace-control workspace-input">
    <i class="fas fa-flag workspace-highlight input-icon"></i>
    <input id="flag-input" type="text" placeholder="Flag">
    <input type="hidden" id="current-challenge-id" value="{{ challenge.challenge_id }}" data-challenge-name="{{ challenge.name }}">
  </div>
  <div class="workspace-control-spacer"></div>
  <button id="challenge-restart" title="Restart challenge" class="workspace-control btn btn-md btn-outline-secondary btn-challenge-start">
    <i class="fas fa-redo"></i>
  </button>
  {% if challenge.allow_privileged %}
  <button id="workspace-change-privilege"
      title="Restart {{'unprivileged' if practice else 'privileged'}}"
      class="workspace-control btn btn-md btn-outline-secondary btn-challenge-start"
      data-privileged="{{'true' if practice else 'false'}}">
    <i class="fas fa-{{'unlock' if practice else 'lock'}}"></i>
  </button>
  {% endif %}
  <button id="fullscreen" title="Toggle fullscreen" class="workspace-control btn btn-md btn-outline-secondary">
    <i class="fas fa-expand"></i>
  </button>
</div>
