{% from "macros/widgets.html" import navitem %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a href="{{ url_for('views.static_html', route='/') }}" class="navbar-brand">
      {% if Configs.ctf_logo %}
      <img class="img-responsive ctf_logo" src="{{ url_for('views.files', path=Configs.ctf_logo) }}" height="25" alt="{{ Configs.ctf_name }}">
      {% else %}
      {{ Configs.ctf_name }}
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
            aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="base-navbars">
      <ul class="navbar-nav mr-auto">
        {{ navitem("Dojos", url_for("pwncollege_dojos.listing"), "fa-torii-gate") }}
        {{ navitem("Workspace", url_for("pwncollege_workspace.view_workspace", service="code"), "fa-terminal") }}
        {{ navitem("Desktop", url_for("pwncollege_workspace.view_workspace", service="desktop"), "fa-desktop") }}
        {{ navitem("Help", url_for("pwncollege_sensai.view_sensai"), "fa-question") }}
        {{ navitem("Chat", "https://discord.gg/pwncollege", "fa-comments", new=True) }}
      </ul>
      <hr class="d-sm-flex d-md-flex d-lg-none">
      <ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
        {% if authed() %}
        {% if is_admin() %}
          {{ navitem("Admin Panel", url_for("admin.view"), "fa-wrench", shrink=True) }}
        {% endif %}
        {{ navitem("Profile", url_for("pwncollege_users.view_self"), "fa-user-circle", shrink=True) }}
        {{ navitem("Settings", url_for("views.settings"), "fa-cogs", shrink=True) }}
        <li id="challengeMenuButton" class="d-none nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center"
             href="#" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Control Panel">
              <i class="fa fa-flag d-none d-md-block d-lg-none"></i><span></span>
            </span>
            <span class="d-sm-block d-md-none d-lg-block text-nowrap">
              <i class="fas fa-flag pr-1"></i>
              <span class="d-lg-none">Control Panel</span>
            </span>
          </a>
          <div id="navbar_dropdown"
               class="dropdown-menu border-light"
               aria-labelledby="navbarDropdown"
               style="background-color: #151515;left: unset;right: 0;"
          >
            <div class="nav-link text-nowrap text-center px-4">
              <a id="dropdown-dojo" class="d-none d-md-inline">
                Dojo
              </a>
              <span class="d-none d-md-inline mx-1">/</span>
              <a id="dropdown-module" class="d-none d-lg-inline">
                Module
              </a>
              <span class="d-none d-lg-inline mx-1">/</span>
              <span id="dropdown-challenge">
                Challenge
              </span>
            </div>
            <div class="dropdown-divider"></div>
            <div class="container-fluid">
              <div class="row d-none d-md-block">
                <div class="col-12"><p class="text-light dropdown-toggle" id="show_description">Description</p></div>
                <div class="col-12" style="max-height: 50vh;min-width: 50vw;overflow-y: scroll;">
                  <p id="dropdown-description" class="text-light" style="display: none">
                    This is a description of the challenge.
                  </p>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-8 form-group">
                  <input id="dropdown-challenge-input" class="challenge-input form-control" type="text" name="answer" placeholder="Flag">
                </div>
                <div class="col form-group">
                  <button id="dropdown-challenge-submit" type="submit" class="challenge-submit btn btn-sm btn-outline-secondary float-right w-100 h-100">
                    Submit
                  </button>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div id="dropdown-controls" class="row pb-2">
                <div id="previous" class="col overflow-hidden ">
                  <button id="challenge-start" class="btn btn-dark  text-truncate w-100">
                    <i class="fas fa-backward"></i>
                    <span id="dropdown-prev-name" class="d-none d-sm-inline">
                      Previous
                    </span>
                    <span class="d-inline d-sm-none">Previous</span>
                  </button>
                  <input id="dojo" type="hidden">
                  <input id="module" type="hidden">
                  <input id="challenge" type="hidden">
                  <input id="challenge-id" type="hidden">
                </div>
                <div id="current" class="col-4 col-lg-3 overflow-hidden">
                  <button id="challenge-start" class="btn btn-dark px-2 text-truncate w-100">
                    <i class="fas fa-redo-alt"></i>
                    Restart
                  </button>
                  <input id="dojo" type="hidden">
                  <input id="module" type="hidden">
                  <input id="challenge" type="hidden">
                  <input id="challenge-id" type="hidden">
                </div>
                <div id="next" class="col overflow-hidden">
                  <button id="challenge-start" class="btn btn-dark text-truncate w-100">
                    <i class="fas fa-forward"></i>
                    <span id="dropdown-next-name" class="d-none d-sm-inline" >
                      Next
                    </span>
                    <span class="d-inline d-sm-none">Next</span>
                  </button>
                  <input id="dojo" type="hidden">
                  <input id="module" type="hidden" value="xx">
                  <input id="challenge" type="hidden" value="xx">
                  <input id="challenge-id" type="hidden" value="xx">
                </div>
                <div class="w-100"></div>
                <div class="notification-row col-12 mt-2">
                  <div id="result-notification" class="alert alert-dismissable text-center w-100" role="alert" style="display: none;">
                    <strong id="result-message"></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        {{ navitem("Logout", url_for("auth.logout"), "fa-sign-out-alt", shrink=True) }}

        {% else %}
        {% if registration_visible() %}
        {{ navitem("Register", url_for("auth.register"), "fa-user-plus") }}
        {% endif %}

        {{ navitem("Login", url_for("auth.login", next=request.full_path), "fa-sign-in-alt") }}
        {% endif %}

        <li class="nav-item">
          <a class="nav-link close-link" href="javascript:void(0)">
            <span class="d-block" data-toggle="tooltip" data-placement="bottom" title="Hide Navbar">
              <i class="fas caret-up d-none d-md-block d-lg-none"></i>
            </span>
            <span class="d-sm-block d-md-none d-lg-block text-nowrap">
              <i class="fas fa-caret-up pr-1"></i>
              <span class="d-lg-none">Hide Navbar</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar-pulldown">
  <i class="fas fa-fw fa-caret-down" title="Show navigation bar"></i>
</div>
