{%- macro render_stat_value(stats, field) -%}
  <div class="stat-value">
    {{ "{:,}".format(stats.get(field, 0)) }}
  </div>
{%- endmacro -%}

<div id="stats-dashboard" class="stats-dashboard">
  {% set icon = url_for("pwncollege_belts.view_belt", color=dojo.award.belt) if (dojo.award.belt and dojo.official) else None %}
  <div class="stat-card">
    <div class="stat-card-header">Dojo Info</div>
    {% if icon or dojo.award and dojo.award.get("emoji") %}
    <div class="stat-container layout-split">
    {% else %}
    <div class="stat-container">
    {% endif %}
      <div class="stat-box">
        <div class="stat-label">Total Solves</div>
        <div class="stat-value">{{ render_stat_value(stats, "solves") }}</div>
      </div>
      <div class="stat-box">
        <div class="stat-label">Total Challenges</div>
        <div class="stat-value">{{ render_stat_value(stats, "challenges") }}</div>
      </div>
    {% if dojo.award and dojo.award.get("emoji") %}
      <div class="stat-box award">
        <div class="stat-label award">Award</div>
        <div class="stat-value award"><b>{{ dojo.award["emoji"] }}</b></div>
      </div>
    {% endif %}
    {% if icon %}
      <div class="stat-box award">
        <div class="stat-label award">Award</div>
        <div class="stat-value award"><img class="award-icon" src="{{ icon }}"></div>
      </div>
    {% endif %}
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-card-header">Recent Solves</div>
    <div class="recent-activity">
      {% if stats and stats.recent_solves and stats.recent_solves|length > 0 %}
        {% for solve in stats.recent_solves %}
        <div class="recent-item">
          {{ solve.challenge_name if solve.challenge_name else 'Unknown Challenge' }}
          <div class="recent-time">{{ solve.date_display if solve.date_display else 'Unknown time' }}</div>
        </div>
        {% endfor %}
      {% else %}
        <div class="recent-item">No recent solves</div>
      {% endif %}
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-card-header">Dojo Hackers</div>
    <div class="stat-container">
      <div class="stat-box">
        <div class="stat-label">Unique Hackers</div>
        <div class="stat-value">{{ render_stat_value(stats, "users") }}</div>
      </div>
      <div class="stat-box">
        <div class="stat-label">Hacking Now</div>
        <div class="stat-value">{{ render_stat_value(stats, "active") }}</div>
      </div>
    </div>
  </div>

  <div class="stat-card">
    <div class="stat-card-header">Recent Awardees</div>
    <div class="recent-awards">
      {% if awards %}
        {% for award in awards[:3] %}
        <div class="recent-item">
          <a href="{{ url_for('pwncollege_users.view_other', user_id=award.user_id) }}" class="brand-mono">
            {{ award.user.name }}
          </a>
          <div class="recent-time">
              {{ award.date.strftime('%m/%d/%y %I:%M %p') if award.date else 'Unknown time' }}
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="recent-item">No awards yet</div>
      {% endif %}
    </div>
  </div>
</div>