{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .card-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0px;
  }

  .card-small {
      width: 15em;
      height: 15em;
      margin: 1em;
      padding: 0.5em;
      background-color: rgba(255, 255, 255, 0.05);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: all 0.2s ease;
  }

  .card-small:hover {
      transform: scale(1.05);
      background-color: rgba(255, 255, 255, 0.10);
  }

  .card-text {
      position: absolute;
      bottom: 1em;
      right: 1em;
      color: rgb(234, 234, 234);
      font-size: 0.75em;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Challenges</h1>
  </div>
</div>
<div class="container">
  <ul class="card-list">
    {% for module in modules %}
    <a class="text-decoration-none" href="/challenges/{{ module.permalink }}">
      <li class="card card-small">
        <div class="card-body">
          <h4 class="card-title">{{ module.name }}</h4>
          <p class="card-text">
            {{ module.challenges_solved }} / {{ module.challenges_count }}
          </p>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
