{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Joinable User Desktops Sessions</h1>
  </div>
</div>
<div class="container">
  <div id="desktops" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col"><b>Desktop Sessions</b></td>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td><a href="/desktop/{{ user.id }}">{{ user.name }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
