{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Modules<h1>
    <br>
    <h2>{{ dojo.name }}</h2>
  </div>
</div>
<div class="container">
  <ul class="card-list">
    {% for module in dojo.modules %}
    <a class="text-decoration-none mx-auto" href="{{ url_for('pwncollege_challenges.view_module', dojo=dojo.id, module=module.id) }}">
      <li class="card card-small {% if stats[module.id].active %}card-active{% endif %}">
        <div class="card-body">
          <h4 class="card-title">{{ module.name }}</h4>
          <p class="card-text">
            {{ stats[module.id].solved }} / {{ stats[module.id].count }}
          </p>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
