{% extends "base.html" %}

{% block stylesheets %}
<style>
  .setup-complete::before, .setup-incomplete::before, .setup-unknown::before {
      position: absolute;
      left: 10px;
      font-size: 24px;
      line-height: 1;
  }

  .setup-incomplete::before {
    content: '✗';
    color: rgb(244, 67, 54);
  }

  .setup-complete::before {
    content: '✓';
    color: rgb(76, 175, 80);
  }

  .setup-unknown::before {
    content: '?';
    color: rgb(255, 193, 7);
  }
</style>
{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Course</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" id="course-syllabus-tab" data-toggle="pill" href="#syllabus" role="tab">Syllabus</a>
        {% if user %}
          <a class="nav-link" id="course-grades-tab" data-toggle="pill" href="#grades" role="tab">Grades</a>
          <a class="nav-link" id="course-identity-tab" data-toggle="pill" href="#identity" role="tab">Identity</a>
          <a class="nav-link" id="course-setup-tab" data-toggle="pill" href="#setup" role="tab">Setup</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="syllabus" role="tabpanel">
          {% if dojo.course.syllabus %}
            {{ dojo.course.syllabus | markdown }}
          {% endif %}
        </div>

        {% if user %}
          <div class="tab-pane fade show" id="grades" role="tabpanel">
            <h3>{{ name }} current grade in the class: <code style="font-size: 2em">{{ letter_grade }}</code> ({{ "%.2f%%" | format(100 * overall_grade) }})</h3>
            <br>
            <div id="grades" class="row">
              <div class="col-md-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td scope="col"><b>Name</b></td>
                      <td scope="col"><b>Date</b></td>        
                      {% if show_extra_late_date %}
                      <td scope="col"><b>Extra Late Date</b></td>
                      {% endif %}                                    
                      <td scope="col"><b>Weight</b></td>
                      <td scope="col"><b>Progress</b></td>
                      <td scope="col"><b>Credit</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for assessment_grade in assessment_grades %}
                    {% if assessment_grade.credit is boolean %}
                      {% set credit = "✓" if assessment_grade.credit else "✕" %}
                    {% elif assessment_grade.credit is number %}
                      {% set credit = "%.2f%%" | format(100 * assessment_grade.credit) %}
                    {% endif %}
                    <tr>
                      <td>{{ assessment_grade.name }}</td>
                      <td>{{ assessment_grade.date }}</td>
                      {% if show_extra_late_date %}
                      <td>{{ assessment_grade.extra_late_date }}</td>
                      {% endif %}
                      <td>{{ assessment_grade.weight }}</td>
                      <td>{{ assessment_grade.progress }}</td>
                      <td>{{ credit }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="identity" role="tabpanel">
            <form method="post" id="identity-form" autocomplete="off">
              <div class="form-group">
                <b><label for="enter-name">{{ identity_name }}</label></b>
                <small class="form-text text-muted">This will be shared with the admins of this dojo.</small>
                <br>
                <input class="form-control" id="identity" name="identity" type="text" value="{{ identity_value or '' }}">
              </div>

              <div id="identity-results" class="form-group">
              </div>

              <div class="form-group text-right">
                <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Update">
              </div>
            </form>
          </div>
        {% endif %}
        <div class="tab-pane fade" id="setup" role="tabpanel">
          <ol>
            <li class="setup-{{ create_account }}">Create a pwn.college account <a href="/register">here</a>. You can use an existing account, or create a new one specifically for the course. The username <strong>will be visible publicly</strong>: if you want to be anonymous, do not use your real name.</li>
            {% if discord_role %}
              <li class="setup-{{ create_discord }}">Create a Discord account <a href="https://discord.com/register">here</a>. You can use an existing account, or create a new one specifically for the course.</li>
              <li class="setup-{{ join_discord }}">Join the pwn.college Discord server <a href="https://discord.gg/pwncollege">here</a>. This is where you will be able to discuss the challenges with your peers and see official course announcements.</li>
              <li class="setup-{{ link_discord }}">Link your pwn.college account with your Discord <a href="/settings#discord">here</a>. As a verified student, you will receive an official course role in Discord for viewing course announcements.</li>
            {% endif %}
            <li class="setup-{{ link_student }}">Link your pwn.college account with your {{ identity_name }} <a href="identity">here</a>. This is how we will be able to give you your official course grade, and how we will be able to verify your student status for an official course role in Discord.</li>
          </ol>
          {% if setup_complete %}
            <p>Setup complete!</p>
            {% if discord_role %}
              <p>If you are missing your official course role in Discord, you can force it to update by updating your course identity <a href="identity">here</a>.</p>
            {% endif %}
          {% else %}
            <p>Setup incomplete.</p>
          {% endif %}
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/course.js') }}"></script>
{% endblock %}
