{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{{ dojo.name or dojo.id }}</h1>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  {% if dojo.description %}
  <p>{{ dojo.description | markdown }}</p>
  <br>
  {% endif %}

  <div class="row text-center">
    {% if dojo.course and user %}
    <div class="col-lg-auto m-3">
      <figure>
        <a class="text-decoration-none" href="{{ url_for('course.view_course', dojo=dojo.reference_id) }}">
          <i class="fas fa-graduation-cap fa-3x"></i>
          <figcaption><b style="font-family: 'Courier New', Courier, monospace">Course</b></figcaption>
        </a>
      </figure>
    </div>
    {% endif %}
    {% if dojo_user.type == "admin" or user.type == "admin" %}
    <div class="col-lg-auto m-3">
      <figure>
        <a class="text-decoration-none" href="{{ url_for('pwncollege_dojos.view_dojo_admin', dojo=dojo.reference_id) }}">
          <i class="fas fa-users-cog fa-3x"></i>
          <figcaption><b style="font-family: 'Courier New', Courier, monospace">Admin</b></figcaption>
        </a>
      </figure>
    </div>
    {% endif %}
  </div>

  <br>

  {% if dojo.award and dojo.award.get("emoji") %}
  <h2 class="row">Award: <b>{{ dojo.award["emoji"] }}</b></h2>
  <br>
  {% endif %}


  <h2 class="row">Stats</h2>
  <br>
  <div class="row">
    <p>
      <b>Hacking Now:</b> <code>{{ stats["active"] }}</code>
      <br>
      <b>Hackers:</b> <code>{{ stats["users"] }}</code>
      <br>
      <b>Challenges:</b> <code>{{ stats["challenges"] }}</code>
      <br>
      <b>Solves:</b> <code>{{ stats["solves"] }}</code>
    </p>
  </div>

  <br>

  <h2 class="row">Dojo Modules</h2>
  <br>
  <ul class="card-list">
    {% for module in dojo.modules %}
    <a class="text-decoration-none" href="{{ url_for('pwncollege_dojo.view_module', dojo=dojo_id, module=module.id) }}">
      {# TODO: card-active, card-hidden #}
      <li class="card card-small">
        <div class="card-body">
          <h4 class="card-title">{{ module.name or module.id }}</h4>
          <p class="card-text">
            {{ module.solves(user=user, ignore_visibility=True, ignore_admins=False).count() if user else 0 }} / {{ module.visible_challenges() | length }}
          </p>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>

  <br>

  <h2 class="row">Dojo Rankings:</h2>
  <br>
  {% from "macros/scoreboard.html" import scoreboard %}
  {{ scoreboard() }}
</div>
{% endblock %}

{% block scripts %}
<script defer onload="loadScoreboard(30, 1);" src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='js/dojo/copy.js') }}"></script>
{% endblock %}
