{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
      font-size: 1.2rem;
  }
</style>
{% endblock %}

{% macro dojo_card(dojo) -%}
  <a class="text-decoration-none" href="{{ url_for('pwncollege_dojos.view_dojo', dojo=dojo.reference_id) }}">
    <li class="card card-small">
      <div class="card-body">
        <h4 class="card-title">{{ dojo.name }}</h4>
        <p class="card-text">
          {{ dojo.modules | length }} Modules
        </p>
      </div>
    </li>
  </a>
{%- endmacro %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Dojos</h1>
  </div>
</div>
<div class="container">
  <h2>Current Courses</h2>
  <ul class="card-list">
    {% for dojo in dojos %}
      {% if dojo.type == "course" %}
        {{ dojo_card(dojo) }}
      {% endif %}
    {% endfor %}
  </ul>

  <br>

  <h2>Topics</h2>
  <ul class="card-list">
    {% for dojo in dojos %}
      {% if dojo.type == "topic" %}
        {{ dojo_card(dojo) }}
      {% endif %}
    {% endfor %}
  </ul>

  <br>

  <h2>Other</h2>
  <ul class="card-list">
    {% for dojo in dojos %}
      {% if dojo.type not in ["course", "topic"] %}
        {{ dojo_card(dojo) }}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
