{% extends "base.html" %}

{% macro tab(name, active=False) %}
    {% set id = name.lower().replace(" ", "-") %}
    <a class="nav-link {{ 'active' if active else '' }}" id="settings-{{ id }}-tab" data-toggle="pill" href="#{{ id }}" role="tab">{{ name }}</a>
{% endmacro %}}

{% macro tab_panel(name, active=False) %}
    {% set id = name.lower().replace(" ", "-") %}
    <div class="tab-pane fade {{ 'show active' if active else '' }}" id="{{ id }}" role="tabpanel">
        {{ caller() }}
    </div>
{% endmacro %}}

{% block content %}
<div class="jumbotron">
<div class="container">
    <h1>Dojo Settings</h1>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-md-2 offset-md-1">
    <div class="nav flex-column nav-pills" role="tablist">
        {{ tab("Dojos", active=True) }}
        {{ tab("Create Dojo") }}
    </div>
    </div>
    <div class="col-md-8">
        <div class="tab-content" id="v-pills-tabContent">
            {% call tab_panel("Dojos", active=True) %}
                {% for dojo in dojos %}
                    <b>{{ dojo.name }}</b>
                {% endfor %}
            {% endcall %}
            {% call tab_panel("Create Dojo") %}
                <form method="post" id="dojo-create-form" autocomplete="off">
                    <div class="form-group">
                        <b><label>GitHub Repository</label></b>
                        <small class="form-text text-muted">https://github.com/<b>pwncollege/example-dojo</b></small>
                        <br>
                        <input class="form-control" name="repository" type="text" placeholder="pwncollege/example-dojo" value="">

                        <br>

                        <b><label>Deploy Key</label></b>
                        <small class="form-text text-muted">
                        Required for Private Repositories: <a href="https://docs.github.com/en/developers/overview/managing-deploy-keys#deploy-keys" target="_blank">Deploy Keys Documentation</a>
                        </small>
                        <br>
                        <div class="input-group mb-3">
                            <input class="form-control" name="public_key" type="text" value="{{ public_key }}" readonly>
                            <div class="input-group-append copy-button">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fas fa-clipboard"></i>
                                    </button>
                            </div>
                        </div>

                        <input class="form-control" name="private_key" type="hidden" value="{{ private_key }}">
                    </div>

                    <br>

                    <div id="dojo-create-results" class="form-group">
                    </div>

                    <div class="form-group text-right">
                        <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Create">
                    </div>
                </form>
            {% endcall %}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block entrypoint %}
    <script defer src="{{ url_for('views.themes', path='js/pages/settings.js') }}"></script>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/settings.js') }}"></script>
{% endblock %}
