{% extends "base.html" %}
{% from "macros/widgets.html" import card %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="brand-white brand-mono-bold">{{ dojo.name or dojo.id }}<span class="brand-dot">.</span></h1>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  {% if dojo.description %}
  <div>
    {% if description_edit_url %}
      <a href="{{ description_edit_url }}"
         target="_blank"
         class="github-edit-link"
         title="Edit on GitHub">
        <i class="fas fa-edit"></i>
      </a>
    {% endif %}
    {{ dojo.description | markdown }}
  </div>
  <br>
  {% endif %}

  <div class="row text-center">
    {% if dojo.course and user %}
    <div class="col-lg-auto m-3">
      <figure>
        <a class="text-decoration-none" href="{{ url_for('course.view_course', dojo=dojo.reference_id) }}">
          <i class="fas fa-graduation-cap fa-3x"></i>
          <figcaption><b>Course</b></figcaption>
        </a>
      </figure>
    </div>
    {% endif %}
    {% if dojo_user.type == "admin" or user.type == "admin" %}
    <div class="col-lg-auto m-3">
      <figure>
        <a class="text-decoration-none" href="{{ url_for('pwncollege_dojo.view_dojo_admin', dojo=dojo.reference_id) }}">
          <i class="fas fa-users-cog fa-3x"></i>
          <figcaption><b>Admin</b></figcaption>
        </a>
      </figure>
    </div>
    {% endif %}
  </div>

  <br>

  {% if dojo.modules %}
  <h2 class="row">Stats</h2>
  {% include "components/stat_dashboard.html" %}
  <div class="row"></div>

  <br>

  <h2 class="row">Modules</h2>
  <br>
  <ul class="card-list">
    {% for module in dojo.modules %}
    {% set container_count = module_container_counts.get(module.id, 0) %}
    {% set num_challs = module.visible_challenges(required_only=True) | length %}
    {% set num_solved_required = module.solves(user=user, ignore_visibility=True, ignore_admins=False).count() if user else 0 %}
    {% if module.visible() or dojo.is_admin(user) %}
      {{ card(
        url_for('pwncollege_dojo.view_dojo_path', dojo=dojo_id, path=module.id),
	title=module.name or module.id,
        text_lines = [
          "{} Hacking".format(container_count) if container_count > 0 else "",
          "{} / {}".format(
            num_solved_required,
            num_challs
          ),
	  "hidden" if not module.visible()
        ],
        solve_percent=(num_solved_required / num_challs) * 100 if num_challs else 0,
      ) }}
    {% endif %}
    {% endfor %}
  </ul>

  {% if dojo.show_scoreboard %}
  <br>

  <h2 class="row" id="scoreboard-heading">30-Day Scoreboard:</h2>
  <br>
  {% from "macros/scoreboard.html" import scoreboard %}
  {{ scoreboard() }}

  {% endif %}

  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script defer onload="loadScoreboard(30, 1);" src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='js/dojo/copy.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
