{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>The Dojo<h1>
    <br>
    <h2>{{ dojo.name }}</h2>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}
  {% if dojo.description %}
  <p>{{ render_markdown(dojo.description) }}</p>
  <br style="font-size: 3em">
  {% endif %}

  <h2 class="row">Dojo Stats</h2>
  <p>These are the stats of this specific dojo ({{dojo.name}}), accrued since the dojo's creation.</p>
  <div class="row">
    <p>
      {% if dojo.config.time_created %}
      <b>Created On:</b> <code>{{ dojo.config["time_created"].strftime("%B %-d, %Y") }}</code>
      <br>
      {% endif %}
      <b>Hacking Now:</b> <code>{{ stats["active"] }}</code>
      <br>
      <b>Hackers:</b> <code>{{ stats["users"] }}</code>
      <br>
      <b>Challenges:</b> <code>{{ stats["challenges"] }}</code>
      <br>
      <b>Solves:</b> <code>{{ stats["solves"] }}</code>
    </p>
  </div>

  <br style="font-size: 3em">

  <h2 class="row">Dojo Modules</h2>
  <ul class="card-list">
    {% for module in dojo.modules if not stats[module.id].hide %}
    <a class="text-decoration-none mx-auto" href="{{ url_for('pwncollege_dojo.view_module', dojo=dojo.id, module=module.id) }}">
      <li class="card card-small {% if stats[module.id].active %}card-active{% endif %} {% if stats[module.id].hidden %}card-hidden{% endif %}">
        <div class="card-body">
          <h4 class="card-title">{{ module.name }}</h4>
          <p class="card-text">
            {{ stats[module.id].solved }} / {{ stats[module.id].count }}
          </p>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>

  <br style="font-size: 3em">

  <h2 class="row">
    Dojo Rankings:
  </h2>
  <p>
    <a href="javascript:loadScoreboard('week', 1)">Week</a> |
    <a href="javascript:loadScoreboard('month', 1)">Month</a> |
    <a href="javascript:loadScoreboard('dojo', 1)">All Time</a>
  </p>

  {% import "macros.html" as macros %}
  {{ macros.scoreboard() }}
</div>
{% endblock %}

{% block scripts %}
<script defer onload='loadScoreboard("dojo", 1);' src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}
