{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Grades</h1>
  </div>
</div>
<div class="container">
  <p>You currently have a {{ "%.2f"|format(grades.total_grade) }}% ({{ grades.letter_grade }}) in the class.</p>
  <h2>Overall Grade</h2>
  <p>
    <b>Module Average:</b> {{ "%.2f"|format(grades.module_average) }}%<br>
    {% for name, points in grades.extra_credit.items() %}
    <b>{{ name }}:</b> {{ "%.2f"|format(points) }}%<br>
    {% endfor %}
  </p>
  <p><b>Total Grade:</b> {{ "%.2f"|format(grades.total_grade) }}% ({{ grades.letter_grade }})</p>

  <br style="font-size: 3em">
  <h2>Individual Module Grades</h2>
  <div id="grades" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col"><b>Module</b></td>
            <td scope="col"><b>Due</b></td>
            <td scope="col"><b>On-Time Solves</b></td>
            <td scope="col"><b>Late Solves</b></td>
            <td scope="col"><b>Late Penalty</b></td>
            <td scope="col"><b>Total Challenges</b></td>
            <td scope="col"><b>Partial Early Bird</b></td>
            <td scope="col"><b>Full Early Bird</b></td>
            <td scope="col"><b>Module Grade</b></td>
          </tr>
        </thead>
        <tbody>
          {% for report in grades.module_reports %}
          <tr>
            <td>{{ report.name }}</td>
            <td>{% if report.time_due %}{{ report.time_due.strftime("%Y/%-m/%-d %-I:%M%P") }}{% else %}n/a{% endif %}</td>
            <td>{{ report.solved_timely }}</td>
            <td>{{ report.solved_late }}</td>
            <td>{{ (100*report.late_penalty)|int }}%</td>
            <td>{{ report.total_challenges }}</td>
            <td>{% if report.earned_part_ec %}&#10004;{% endif %}</td>
            <td>{% if report.earned_full_ec %}&#10004;{% endif %}</td>
            <td>{{ "%.2f"|format(report.module_grade) }}%</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
