{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Grades</h1>
  </div>
</div>
<div class="container">
  <h3>{{ name }} current overall grade in the class: <code style="font-size: 2em">{{ letter_grade }}</code> ({{ "%.2f%%" | format(100 * overall_grade) }})</h3>
  <br>
  <div id="grades" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col"><b>Name</b></td>
            <td scope="col"><b>Date</b></td>
            <td scope="col"><b>Weight</b></td>
            <td scope="col"><b>Progress</b></td>
            <td scope="col"><b>Credit</b></td>
          </tr>
        </thead>
        <tbody>
          {% for grade in grades %}
          {% if grade.credit is boolean %}
            {% set credit = "✓" if grade.credit else "✕" %}
          {% elif grade.credit is number %}
            {% set credit = "%.2f%%" | format(100 * grade.credit) %}
          {% endif %}
          <tr>
            <td>{{ grade.name }}</td>
            <td>{{ grade.date }}</td>
            <td>{{ grade.weight }}</td>
            <td>{{ grade.progress }}</td>
            <td>{{ credit }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
