{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>All Grades</h1>
  </div>
</div>
<div class="container">
  <div id="grades" class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col"><b>Student</b></td>
            <td scope="col"><b>Grade</b></td>
          </tr>
        </thead>
        <tbody>
          {% for user_grades in grades %}
          <tr>
            <td>
              {% if user_grades.user_id is not none %}
              <a href="{{ generate_account_url(user_grades.user_id, admin=True) }}">{{ students[user_grades.user_id] }}</a>
              {% else %}
              <b>?</b>
              {% endif %}
            </td>
            <td>
              <details>
                <summary>{{ user_grades.letter_grade }} ({{ "%.2f"|format(100 * user_grades.overall_grade) }}%)</summary>
                <table>
                  <thead>
                    <tr>
                      <td>Name</td>
                      <td>Date</td>
                      <td>Weight</td>
                      <td>Progress</td>
                      <td>Credit</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for grade in user_grades.grades %}
                    <tr>
                      <td>{{ grade.name }}</td>
                      <td>{{ grade.date }}</td>
                      <td>{{ grade.weight }}</td>
                      <td>{{ grade.progress }}</td>
                      <td>
                        {% if grade.credit is boolean %}
                          {{ "✓" if grade.credit else "✕" }}
                        {% elif grade.credit is number %}
                          {{ "%.2f%%" | format(100 * grade.credit) }}
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </details>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          {% for statistic, (summary, details) in grade_statistics.items() %}
          <tr>
            <td>{{ statistic }}</td>
            <td>
              <details>
                <summary>{{ summary }}</summary>
                <table>
                  <thead>
                    <tr>
                      {% for column in details[0] %}
                      <td>{{ column }}</td>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in details %}
                    <tr>
                      {% for value in row.values() %}
                      <td>{{ value }}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </details>
            </td>
          </tr>
          {% endfor %}
        </tfoot>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
