{% extends "base.html" %}
{% from "macros/widgets.html" import accordion_item %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{ user.name }}<br><img src="{{ belt }}" class="scoreboard-belt"></h1>

      {% if user.affiliation %}
        <h3 class="d-inline-block">
          <span class="badge badge-primary">{{ user.affiliation }}</span>
        </h3>
      {% endif %}

      {% if user.country %}
        <h3 class="d-inline-block">
          <span class="badge badge-primary">
            <i class="flag-{{ user.country.lower() }}"></i>
            {{ lookup_country_code(user.country) }}
          </span>
        </h3>
      {% endif %}

      {% for field in user.fields %}
        <h3 class="d-block">
          {{ field.name }}: {{ field.value }}
        </h3>
      {% endfor %}

      <div class="pt-3">
        {% if user.website %}
          <a href="{{ user.website }}" target="_blank" style="color: inherit;" rel="noopener">
            <i class="fas fa-external-link-alt fa-2x px-2" data-toggle="tooltip" data-placement="top"
               title="{{ user.website }}"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">
    {% for dojo in dojos if dojo.solves(user=user, ignore_visibility=True, ignore_admins=False).count() > 0 %}
      {% set rank, max_rank = ranking(dojo, user) %}
      {% set solves = dojo.solves(user=user, ignore_visibility=True, ignore_admins=False).all() | map(attribute="challenge_id") | list %}
      <a class="text-decoration-none" href="{{ url_for('pwncollege_dojo.listing', dojo=dojo.reference_id) }}">
        <h2>{{ dojo.name }}</h2>
        <h4>
          <i class="fas fa-flag pt-3 pr-3" title="Solves"></i>
          <td>{{ solves | length }} / {{ dojo.challenges | length }}</td>
          <i class="fas fa-trophy pt-3 pr-3 pl-5 " title="Rank"></i>
          <td>{{ rank or "-" }} / {{ max_rank or "-" }}</td>
        </h4>
      </a>

      <br>

      <div class="accordion" id="{{dojo.hex_dojo_id}}-modules">
        {% for module in dojo.modules %}
          {% set solves = module.solves(user=user, ignore_visibility=True, ignore_admins=False).all() | map(attribute="challenge_id") | list %}
          {% set rank, max_rank = ranking(module, user) %}
          {% call(header) accordion_item("{}-modules".format(dojo.hex_dojo_id), loop.index) %}
            {% if header %}
              <h4 class="accordion-item-name">{{ module.name }}</h4>
              <span class="total-solves">
                <i class="fas fa-flag pr-1" title="Solves"></i>
                <td>{{ solves | length }} / {{ module.challenges | length }}</td>
                <i class="fas fa-trophy pr-1 pl-3 " title="Rank"></i>
                <td>{{ rank or "-" }} / {{ max_rank or "-" }}</td>
              </span>
            {% else %}
              {% for challenge in module.challenges %}
                {% set challenge_status = "challenge-solved" if challenge.challenge_id in solves else "challenge-unsolved" %}
                <h5>
                  <i class="fas fa-flag pr-3 pt-3 {{ challenge_status }}"></i>
                  <td>{{ challenge.name }}</td>
                </h5>
              {% endfor %}
            {% endif %}
          {% endcall %}
        {% endfor %}
      </div>

      <br>
    {% endfor %}
{% endblock %}
