{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .card {
      margin-bottom: 0.5em;
      background-color: inherit;
  }

  .card-header {
      background-color: rgba(255,255,255,0.1);
  }

  .card-body {
      background-color: rgba(255,255,255,0.05);
  }

  .dojo-name {
      margin: 0px;
      padding: 0px !important;
      float: left;
  }

  .dojo-solved {
      -webkit-text-stroke: 1px #222;
      -webkit-text-fill-color: #b5e853;
  }

  .dojo-unsolved {
      text-shadow: none;
      -webkit-text-stroke: 1px #222;
      -webkit-text-fill-color: rgba(255,255,255,0.25);
  }

  .total-solves {
      float: right;
      font-size: 0.75em;
      color: #ddd;
  }
</style>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>{{ user.name }}<br><img src="{{ belt }}" class="scoreboard-belt"></h1>

      {% if user.affiliation %}
        <h3 class="d-inline-block">
          <span class="badge badge-primary">{{ user.affiliation }}</span>
        </h3>
      {% endif %}

      {% if user.country %}
        <h3 class="d-inline-block">
          <span class="badge badge-primary">
            <i class="flag-{{ user.country.lower() }}"></i>
            {{ lookup_country_code(user.country) }}
          </span>
        </h3>
      {% endif %}

      {% for field in user.fields %}
        <h3 class="d-block">
          {{ field.name }}: {{ field.value }}
        </h3>
      {% endfor %}

      <div class="pt-3">
        {% if user.website %}
          <a href="{{ user.website }}" target="_blank" style="color: inherit;" rel="noopener">
            <i class="fas fa-external-link-alt fa-2x px-2" data-toggle="tooltip" data-placement="top"
               title="{{ user.website }}"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    {% include "components/errors.html" %}

    {% if awards %}
    <h2>Awards</h2>
    <div class="row">
      {% for award in awards %}
      <div class="col-md-3 col-sm-6">
        <p class="text-center">
          <i class="award-icon award-{{ award.icon }} fa-2x"></i>
          <br>
          <strong>{{ award.name }}</strong>
        </p>
        <p class="text-center">{{ award.category or "" }}</p>
        <p class="text-center">{{ award.description or "" }}</p>
        <p class="text-center">{{ award.value }}</p>
      </div>
      {% endfor %}
    </div>

    <br style="font-size: 3em">
    {% endif %}

    {% macro dojo_list_stats(dojos, idx) -%}
      {% for dojo in dojos %}
      {% set dojo_stats = stats[dojo.id] %}
      {{ macros.accordion_title_start("dojos", idx+loop.index) }}
      <h4 class="dojo-name">
        <span class="d-sm-block d-md-block d-lg-block">
          <i class="fas fa-bolt pr-3 dojo-{% if dojo_stats.solved == dojo_stats.count %}solved{%else%}unsolved{%endif%}"></i>{{ dojo.name }}
        </span>
      </h4>
      <span class="total-solves">
        {{ dojo_stats.solved }} / {{ dojo_stats.count }} challenges solved,
        {{ dojo_stats.position }} {% if dojo_stats.position == "1st" %}<i class="fas fa-crown pr-1"></i>{% endif %}/ {{ dojo_stats.total_solvers }} place!
      </span>
      {{ macros.accordion_title_end() }}
      {{ macros.accordion_body_start("dojos", idx+loop.index) }}
      <p>Progress on <a href="{{ url_for("pwncollege_dojo.listing", dojo=dojo.id) }}">{{ dojo.name }}</a>:<p>
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Module</b></td>
            <td><b>Solved</b></td>
            <td><b>Remaining</b></td>
          </tr>
        </thead>
        <tbody>
          {% for module in dojo_stats.visible_modules %}
          {% set module_stats = dojo_stats.module_stats[module.id] %}
          <tr>
            <td><a href="{{ url_for("pwncollege_dojo.view_module", dojo=dojo.id, module=module.id) }}">{{ module.name }}</a></td>
            <td>{{ module_stats.solved }} / {{ module_stats.count }}</td>
            <td>{% for name in module_stats.unsolved_names %}<a href="{{ url_for("pwncollege_dojo.view_module", dojo=dojo.id, module=module.id) }}#challenge-{{name}}">{{name}}</a> {%endfor%}</td>
          </td>
          {% endfor %}
        </tbody>
      </table>
      {{ macros.accordion_body_end() }}
      {% endfor %}
    {%- endmacro %}

    <h2>Dojo Progress</h2>
    <div class="accordion" id="dojos">
      {% if public_dojos|length %}
      <br><p>Public Dojos:</p>
      <p><i>Overall ranking across all public dojo challenges:</i> {{global_position}} place of {{ total_solvers }} hackers!</i></p>
      {{ dojo_list_stats(public_dojos, 0) }}
      {% endif %}

      {% if private_dojos|length %}
      <p><br>Private Dojos:<br><small>(or, the private dojos that are also visible to you)</small></p>
      {{ dojo_list_stats(private_dojos, public_dojos|length) }}
      {% endif %}

      {% if archived_dojos|length %}
      <p><br>Archived Dojos:</p>
      {{ dojo_list_stats(archived_dojos, public_dojos|length+private_dojos|length) }}
      {% endif %}
    </div>
  </div>
{% endblock %}
