{% extends "base.html" %}

{% block content %}
<div class="container">

  <p><br><br>

  <center>
    <h1><b>pwn.college</b></h1>
    <h3>Learn to hack!</h3>
  </center>

  <p><br><br>

  <h1>Welcome to pwn.college!</h1>
  <p>pwn.college is an education platform for students (and other interested parties) to learn about, and practice, core cybersecurity concepts in a hands-on fashion.
  In martial arts terms, it is designed to take a “white belt” in cybersecurity through the journey to becoming a “blue belt”, able to approach (simple) cybersecurity competitions (CTFs) and wargames.
  Our philosophy is “practice makes perfect”.

  <p>The platform is maintained by an <a href="#greetz">awesome team</a> of hackers at Arizona State University.
  It powers much of ASU's cybersecurity curriculum, and is open, for free, to participation for interested people around the world!

  <p>If you have comments, suggestions, and feedback, please email us at <a href="mailto:pwn@pwn.college">pwn@pwn.college</a>!

  <p><br><br><br>

  <h1>Great! How do I jump in?</h1>

  <p>pwn.college is organized into a series of dojos, each of which covers a high-level topic area.
  Please start your journey with the <code>Getting Started</code> dojo:

  <ul class="card-list" style="display: block; margin-left: auto; margin-right: auto; width: 30%;">
    <a class="text-decoration-none" href="/dojo/welcome">
      <li class="card card-small">
      <div class="card-body">
        <h4 class="card-title">Getting Started</h4>
        <div class="card-icon">
          <img src="/themes/dojo_theme/static/img/dojo/white.svg">
        </div>
        <p class="card-text">Click here to get started!</p>
      </div>
      </li>
    </a>
  </ul>

  <p>Once you complete this module, you can access many other dojos full of amazing hacking knowledge through the <a href="/dojos">Dojos</a> link at the top of the page.
  When you run into problems with concepts and challenges, you can get help on our <a href="https://discord.gg/pwncollege">discord server</a>.
  The discord is also a great place to chat with other aspiring hackers!


  <p><br><br><br>

  <h1>The "School Year"</h1>

  <p>pwn.college is available year-round, but during ASU's semester, we host live classes on <a href="https://www.twitch.tv/pwncollege">our Twitch channel</a> to dig into the material currently being covered on pwn.college, then archive those to <a href="https://www.youtube.com/pwncollege">our YouTube channel</a>.
  The live classes are used to fill in gaps between prerecorded lectures and answer student questions.

  <p>Current live classes:

  <ul>
    <li><a href=https://www.youtube.com/playlist?list=PL-ymxv0nOtqqYpFVmqh9Wsfebq05pssju>CSE365 &#8212; Introduction to Cybersecurity &#8212; Spring 2024</a></li>
    <li><a href=https://www.youtube.com/playlist?list=PL-ymxv0nOtqr7zM7ZBREoWa-eeSaKFJQd>CSE598 &#8212; Software Exploitation &#8212; Spring 2024</a></li>
  </ul>


  <p><br><br>

  <h1>The Belts</h1>


  <p>Consider hacking as a martial art that students earn belts in as they progress and build their skills.
  This course progresses hackers from white belts, to orange belts, yellow belts, green belts, and then finally refines them into blue belts.
  This is not just metaphor: <b>we have actual belts, in yellow, green, and blue, custom-embroidered for pwn.college.</b>

  <p>Eventually, hackers continue their journey beyond pwn.college, becoming certain in their skills, achieving <i>brown belt</i> status (and able to, for example, usefully contribute to the cybersecurity industry and academia), before finally graduating to hacking masters: <i>black belts</i>.
  But this, unfortunately, must happen outside of the dojo (for now!).

  <h3>How to earn an orange belt?</h3>
  <p>For an orange belt, you must complete all active challenges launched in:
  <ul>
    <li><a href="https://pwn.college/intro-to-cybersecurity/">Intro to Cybersecurity</a>
  </ul>

  <h3>How to earn a yellow belt?</h3>
  <p>For a yellow belt, you must complete all active challenges launched in:
  <ul>
    <li><a href="https://pwn.college/intro-to-cybersecurity/">Intro to Cybersecurity</a>
    <li><a href="https://pwn.college/program-security/">Program Security</a>
  </ul>

  <h3>How to earn a green belt?</h3>
  <p>For a green belt, you must complete all active challenges launched in:
  <ul>
    <li><a href="https://pwn.college/intro-to-cybersecurity/">Intro to Cybersecurity</a>
    <li><a href="https://pwn.college/program-security/">Program Security</a>
    <li><a href="https://pwn.college/system-security/">System Security</a>
  </ul>

  <h3>How to earn a blue belt?</h3>
  <p>For a blue belt, you must complete all active challenges launched in:
  <ul>
    <li><a href="https://pwn.college/intro-to-cybersecurity/">Intro to Cybersecurity</a>
    <li><a href="https://pwn.college/program-security/">Program Security</a>
    <li><a href="https://pwn.college/system-security/">System Security</a>
    <li><a href="https://pwn.college/software-exploitation/">Software Exploitation</a>
  </ul>

  <h3>How to get the actual belt?</h3>
  <p>To get your belt,  <a href="mailto:pwn@pwn.college">send us an email</a> from the email address associated with your pwn.college account once you’ve completed the necessary challenges.
  We’ll then get your belt over to you (eventually)!
  Note that, due to logistical challenges, we're currently only <i>shipping</i> belts to hackers after they earn their blue belt. Until then, we will belt you in person, at ASU or some security conference.

  <p><b>Who has earned belts?</b> We maintain a <a href="https://pwn.college/belts">list of hackers with pwn.college belts</a>. Once you achieve your belt, we will add you to the <a href="https://pwn.college/belts">list</a>!

  <p><br><br>

  <h1>Collaboration, Livestream, and Writeup Policy</h1>
  <p>The challenges created for pwn.college are educational material, and are used to grade students at ASU.
  Because of this, we would appreciate that writeups, walkthrough videos, and livestreams of challenge solutions are not posted to the internet.
  Obviously, we can’t enforce this, but we worked hard to make all of this public, and we would appreciate your help in keeping pwn.college a viable educational platform.

  <p><br><br>

  <h1>Further Practice</h1>
  <p>After you learn the basics of cybersecurity and earn your blue belt, you should move on to harder challenges.

  <p>Capture The Flags (CTFs) are a great way to practice your hacking skills in a fun and ethical way. The most popular way to find upcoming events is at <a href="https://ctftime.org">https://ctftime.org</a>. There is also a list of introductory CTFs <a href="https://zaratec.io/ctf-practice/">here</a>. If you are at ASU, feel free to check out and join ASU’s enigmatic <a href="http://asuhacking.club">hacking club</a>.

  <p>Wargames are another great way to practice your hacking skills. Whereas CTFs are short (normally 48 hour) events, wargames are not time-based. You can find a list of wargames at <a href="https://github.com/zardus/wargame-nexus">https://github.com/zardus/wargame-nexus</a>.

  <p>If you want to get involved with cybersecurity research, but don’t know how, consider joining us for an <a href="https://sefcom.asu.edu/apprenticeship">internship at ASU</a>.

  <p><br><br>

  <h1>Reusing pwn.college Material</h1>
  <p>Want to use pwn.college in your course? You can!

  <p>You can use the videos and slides of pwn.college lectures freely for non-commercial purposes, but please provide attribution!
  Additionally, if you use pwn.college in your own education program, we would appreciate it if you email us to let us know.
  Evidence of wide-spread use of pwn.college for education will be a huge help for Yan’s tenure case!

  <p>EDUCATORS: If you are an educational institution and are using pwn.college as part of a class, you can import our challenges (or add your own) into your own private dojo for your students! Create your dojo <a href="/dojos/create">here</a>.

  <p>CONFERENCES: If you are running a conference and would like pwn.college presence there (as a form of intense weekend-long training), please <a href="mailto:pwn@pwn.college">email</a> us!

  <p><br><br>

  <h1>Contributing</h1>
  <p>The <a href="https://github.com/pwncollege/dojo">infrastructure powering pwn.college</a> is open source, and we welcome pull requests and issues.
  Some of the modules are closed-source, because they include source code and solution scripts, but others can be found on <a href="https://github.com/pwncollege">github</a>.
  If you are an educator, or otherwise someone we trust, and are interested in collaborating on the modules themselves, please email us at <a href="pwn@pwn.college">pwn@pwn.college</a>.
  Likewise, drop us a line if you are interested in collaborating on the slides!

  <p><br><br>

  <h1><a name="greetz"></a>Greetz</h1>
  <p>Team work makes the dream work, and the team behind pwn.college is full of dreamers!  They are:

  <ul>
    <li><a href="https://yancomm.net">Zardus (Yan Shoshitaishvili)</a> originated the idea, created the initial prototype and many of the challenges, and continues to cajole everyone else into a shared vision!
    <li><a href="https://connornelson.com">kanak (Connor Nelson)</a> made the mistake of signing up to TA an “easy A” course and quickly found himself reimplementing Yan’s insane code into the amazing dojo you see today, along with the creation of many challenges.
    <li><a href="https://github.com/robwaz">robwaz (Robert Wasinger)</a> for the creation of the Software Exploitation dojo.
    <li><a href="https://adamdoupe.com">Adam Doupe</a> for helping in the brainstorming of the initial concept and helping develop the pwn.college platform.
    <li><a href="https://www.zionbasque.com">mahaloz (Zion Basque)</a> for contributing ROP challenges and embryoasm to pwn.college.
    <li><a href="https://twitter.com/eriktrickel">Erik Trickel</a> for helping in the development of pedagogical concepts underlying pwn.college.
    <li>redgate, for contributing to embryoasm.
    <li><a href="https://twitter.com/pascal_0x90">Pascal-0x90</a>, for contributing to embryoasm.
    <li><a href="https://twitter.com/frqmod">frqmod</a>, for contributing embryogdb.
    <li><a href="https://www.kylebot.net">kylebot</a>, for contributing babyfmt, Kernel Exploitation, and the inaugural Quarterly Quiz!
    <li>ramen, for contributing babyfile.
    <li>zolutal, for contributing babyarch.
    <li>spencerpogo, for contributing Windows support.
  </ul>

  <p><br><br>

  <h1>Resources</h1>

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://youtube.com/pwncollege">
            <i class="fab fa-youtube fa-7x"></i>
            <figcaption>Lectures on<br>YouTube</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://twitch.tv/pwncollege">
            <i class="fab fa-twitch fa-7x"></i>
            <figcaption>Live Broadcasts on<br>Twitch</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://discord.gg/pwncollege">
            <i class="fab fa-discord fa-7x"></i>
            <figcaption>Chat on<br>Discord</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://github.com/pwncollege">
            <i class="fab fa-github fa-7x"></i>
            <figcaption>Open Source on<br>GitHub</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="mailto:pwn@pwn.college">
            <i class="fas fa-envelope fa-7x"></i>
            <figcaption>Contact us via<br>Email</figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>

</div>
{% endblock %}
