{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <img src="https://dsu.edu/marketing/_files/DSU_UniversityLogo_Icon_Primary.png"
         width="120" height="139">
    <p><br><br>
    <h1>pwn.college</h1>
    <p>Learn to hack!</p>
  </div>
</div>

<div class="container">
  <p>Welcome to the DSU instance of pwn.college!

  <p><br><br>

  <h2>Roadshow</h2>
  {{ dojo_grid(categorized_dojos["roadshow"], dojo_container_counts) }}

  <p><br><br>

  {% if categorized_dojos["member"] %}
  <p><br><br>
  <h2>Private Dojos You've Joined &mdash; Keep Hacking!</h2>
  <p>These are the private dojos that have been shared with you.
  Keep hacking!

  {{ dojo_grid(categorized_dojos["member"], dojo_container_counts) }}

  To join a private dojo, ask its sensei to send you an invite link!
  {% endif %}

  <p><br><br>
  <h2>Your Own Dojos</h2>
  <p>You can create your own dojo, either hosting your own challenges or remixing existing material!
  Once created, a dojo can be shared with your friends or students (providing a private scoreboard and curated experience) or made public to the world to appear in the Community Material list above!

  {{ dojo_grid(categorized_dojos["admin"], dojo_container_counts, create_icon=true) }}

</div>
{% endblock %}

{% block scripts %}
{% endblock %}
