{% extends "base.html" %}
{% from "macros/widgets.html" import card %}
{% from "macros/widgets.html" import dojo_grid %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="brand-mono-bold wordmark-large"><span class="brand-white">pwn</span><span class="brand-dot brand-blink">.</span><span class="brand-green">college</span></h1>
    <br>
    <h2 class="brand-white">Learn to Hack!</h2>
  </div>
</div>

<div class="container">
  <p>You have entered the pwn.college DOJO, an education platform for learners to develop and practice core cybersecurity skills in a hands-on fashion.
  Entering, you receive your "white belt" <img src="/belt/white.svg" style="height: 1em; vertical-align: middle;">, signifying the beginning of your hacker life.
  From here, you will learn cybersecurity by diving deep into the core of computing, using that journey to absorb cybersecurity concepts.
  This will involve melding your mind to your terminal, whispering instructions to the CPU, and strumming bits directly onto networks.
  That terminal cursor blinking above?
  It will be your stalwart companion through this adventure as you practice, earn your <a href="/belts">belts</a> <img src="/belt/orange.svg" style="height: 1em; vertical-align: middle;"><img src="/belt/yellow.svg" style="height: 1em; vertical-align: middle;"><img src="/belt/green.svg" style="height: 1em; vertical-align: middle;"><img src="/belt/blue.svg" style="height: 1em; vertical-align: middle;">, and, eventually, make perfect.

  <p>Every dojo has its sensei.
  This platform is maintained by an <a href="/sensei">awesome team</a> of hackers at Arizona State University.
  It powers much of ASU's cybersecurity curriculum, and is open, for free, to participation for interested people around the world!

  <p>Enjoy your journey!
  If you have questions, comments, suggestions, and feedback, please <a href="https://discord.gg/pwncollege">join our Discord server</a> or email us at <a href="mailto:pwn@pwn.college">pwn@pwn.college</a>!


  <p><br>
  <h2>The Rules</h2>
  <p>The challenges created for pwn.college are, first and foremost, educational material, and are used to grade students at universities around the world.
  Because of this, we would appreciate that you <b>do not post writeups, walkthrough videos, and livestreams of challenge solutions</b> to the internet.
  Obviously, we can't enforce this, but we worked hard to make all of this public, and we would appreciate your help in keeping pwn.college a viable educational platform.

  <div id="agreement-section" class="text-center mt-4 mb-4">
    <p>Please agree to these rules to continue to the material!<br>
    <button id="agree-button" class="btn btn-success btn-lg">I Agree to the Rules</button>
  </div>

  <div id="content-after-rules" style="display: none;">


  <p><br>
  <h2>YOUR Journey &mdash; Next Steps 🫵</h2>

  <p>Whether you have just started, or have come far, there is always a next step to your journey.
  The dojo or dojos listed below is that step, presented to you <b>in the order that you should learn them</b>.
  Take a step, and the next will reveal itself.

  {{ dojo_grid(categorized_dojos["next"], dojo_container_counts) }}

  <h3>Side Quests</h3>

  <p>Want to work ahead? Know your path better than we do? Forge your path through <a href="/dojos">our whole material</a>!

  <p>Need a break? Want to learn something new? Check out <a href="/dojos#community-dojos">dojos created by the pwn.college community!</a>


  <p><br>
  <h2>Sharing is Caring</h2>
  <p>Want to use pwn.college in your course? No problem!
  You can use the videos and slides of pwn.college lectures freely for non-commercial purposes, but please provide attribution!
  Additionally, if you use pwn.college in your own education program, we would appreciate it if you email us to let us know.
  Evidence of wide-spread use of pwn.college for education will be a huge help for our various academic careers!

  <p>EDUCATORS: If you are an educational institution and are using pwn.college as part of a class, you can import our challenges (or add your own) into your own private dojo for your students! Create your dojo <a href="/dojos/create">here</a>.

  <p>CONFERENCES: If you are running a conference and would like pwn.college presence there (as a form of intense weekend-long training), please <a href="mailto:pwn@pwn.college">email</a> us!


  <p><br>
  <h2>After pwn.college</h2>

  <p>Eventually, hackers continue their journey beyond pwn.college, becoming certain in their skills, achieving <i>brown belt</i> status (and able to, for example, usefully contribute to the cybersecurity industry and academia), before finally graduating to hacking masters: <i>black belts</i>.
  But this, unfortunately, must happen outside of the dojo (for now!).
  Some suggestions:

  <p>Capture The Flags (CTFs) are a great way to practice your hacking skills in a fun and ethical way. The most popular way to find upcoming events is at <a href="https://ctftime.org">https://ctftime.org</a>. There is also a list of introductory CTFs <a href="https://zaratec.io/ctf-practice/">here</a>. If you are at ASU, feel free to check out and join ASU’s enigmatic <a href="http://asuhacking.club">hacking club</a>.

  <p>Wargames are another great way to practice your hacking skills. Whereas CTFs are short (normally 48 hour) events, wargames are not time-based. You can find a list of wargames at <a href="https://github.com/zardus/wargame-nexus">https://github.com/zardus/wargame-nexus</a>.

  <p>There are many other awesome learning platforms, such as <a href="https://cryptohack.org/">CryptoHack</a> and <a href="https://p.ost2.fyi/">OST2</a> that will help teach you explore new topics!

  <p>If you want to get involved with cybersecurity research, but don’t know how, consider joining us for an <a href="https://sefcom.asu.edu/apprenticeship">internship at ASU</a>.



  <p><br>
  <h2>Contributing</h2>
  <p>The <a href="https://github.com/pwncollege/dojo">infrastructure powering pwn.college</a> is open source, and we welcome pull requests and issues.
  Some of the modules are closed-source, because they include source code and solution scripts, but others can be found on <a href="https://github.com/pwncollege">github</a>.
  If you are an educator, or otherwise someone we trust, and are interested in collaborating on the modules themselves, please email us at <a href="mailto:pwn@pwn.college">pwn@pwn.college</a>.
  Likewise, drop us a line if you are interested in collaborating on the slides!


  <p><br>
  <h2>Resource Index</h2>
  <p>We use a lot of different resources and platforms.
  Here they are!

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://youtube.com/pwncollege">
            <i class="fab fa-youtube fa-7x"></i>
            <figcaption>Lectures on<br>YouTube</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://twitch.tv/pwncollege">
            <i class="fab fa-twitch fa-7x"></i>
            <figcaption>Live Broadcasts on<br>Twitch</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://discord.gg/pwncollege">
            <i class="fab fa-discord fa-7x"></i>
            <figcaption>Chat on<br>Discord</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="https://github.com/pwncollege">
            <i class="fab fa-github fa-7x"></i>
            <figcaption>Open Source on<br>GitHub</figcaption>
          </a>
        </figure>
      </div>
      <div class="col-lg-auto m-3">
        <figure>
          <a class="text-decoration-none" href="mailto:pwn@pwn.college">
            <i class="fas fa-envelope fa-7x"></i>
            <figcaption>Contact us via<br>Email</figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>

  </div>

</div>
{% endblock %}

{% block scripts %}
<style>
p { text-align: justify; }
</style>

<script>
document.getElementById('agree-button').addEventListener('click', function() {
  document.getElementById('content-after-rules').style.display = 'block';
  document.getElementById('agreement-section').style.display = 'none';
  
  // Store agreement in localStorage
  localStorage.setItem('agreedToRules', 'true');
});

// Check if user already agreed
if (localStorage.getItem('agreedToRules') === 'true') {
  document.getElementById('content-after-rules').style.display = 'block';
  document.getElementById('agreement-section').style.display = 'none';
}
</script>
{% endblock %}
