
{% macro scoreboard() -%}
  <div class="scoreboard row">
    <div class="col-md-12 p-0">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <td scope="col" class="col-md-1"><b>Rank</b></td>
            <td scope="col" class="col-md-1"></td>
	    <td scope="col" class="col-md-4"><b>Hacker</b></td>
	    <td scope="col" class="col-md-4"><b>Dojos Completed</b></td>
	    <td scope="col" class="col-md-1"></td>
	    <td scope="col" class="col-md-1"><b>Score</b></td>
	  </tr>
	</thead>
	<tbody id="scoreboard">
	</tbody>
      </table>
    </div>
    <div>
      <ul id="scoreboard-pages" class="p-0">
      </ul>
    </div>
  </div>
{%- endmacro %}

{% macro accordion_title_start(acc_id, idx) -%}
    <div class="card">
      <div class="card-header" id="{{acc_id}}Heading{{ idx }}">
        <h2 class="mb-0">
          <button class="btn btn-link text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#{{acc_id}}{{ idx }}" aria-expanded="false" aria-controls="{{acc_id}}{{ idx }}">
{%- endmacro %}

{% macro accordion_title_end() -%}
          </button>
        </h2>
      </div>
{%- endmacro %}

{% macro accordion_body_start(acc_id, idx) -%}
  <div id="{{acc_id}}{{ idx }}" class="{{acc_id}} collapse" aria-labelledby="{{acc_id}}Heading{{ idx }}" data-parent="#{{acc_id}}">
    <div class="card-body">
{%- endmacro %}

{% macro accordion_body_end() -%}
    </div>
  </div>
</div>
{%- endmacro %}
