{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .card {
      margin-bottom: 0.5em;
      background-color: inherit;
  }

  .card-header {
      background-color: rgba(255,255,255,0.1);
  }

  .card-body {
      background-color: rgba(255,255,255,0.05);
  }

  .challenge-name {
      margin: 0px;
      padding: 0px !important;
      float: left;
  }

  .challenge-active {
      color: rgb(255,40,245) !important;
  }

  .challenge-solved {
      -webkit-text-stroke: 1px #222;
      -webkit-text-fill-color: #b5e853;
  }

  .challenge-unsolved {
      text-shadow: none;
      -webkit-text-stroke: 1px #222;
      -webkit-text-fill-color: rgba(255,255,255,0.25);
  }

  .total-solves {
      float: right;
      font-size: 0.75em;
      color: #ddd;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{{ module.name }}<br><small>Dojo: <a href="/{{ dojo.id }}/challenges">{{ dojo.name }}</a></small></h1>
  </div>
</div>
<div class="container">
  {% if module.time_assigned or module.time_due %}
  <h2>Dates</h2>

  {% if module.time_assigned %}
  <p><b>Assigned:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+assigned&iso={{ module.time_assigned.isoformat() }}">
    {{ module.time_assigned.strftime("%B %-d, %Y at %-I:%M%P") }} (Arizona time)
  </a><br><small>(solves before this date will not appear on the default scoreboard, but will still count toward your grade)</small></p>
  {% endif %}

  {% if ec_part %}
  <p><b>Partial Extra Credit Deadline:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+partial extra credit deadline&iso={{ ec_part.isoformat() }}">
    {{ ec_part.strftime("%B %-d, %Y at %-I:%M%P %Z") }} (Arizona time)
  </a><br><small>(if you solve &gt;= a quarter of the challenges in this module by this date, you will earn 0.5% toward your final ASU grade)</small></p>
  {% endif %}

  {% if ec_full %}
  <p><b>Full Extra Credit Deadline:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+full extra credit deadline&iso={{ ec_full.isoformat() }}">
    {{ ec_full.strftime("%B %-d, %Y at %-I:%M%P %Z") }} (Arizona time)
    </a><br><small>(if you solve &gt;= half of the challenges in this module by this date, you will earn 1% toward your final ASU grade, instead of the 0.5% above)</small></p>
  {% endif %}

  {% if module.time_due %}
  <p><b>Due:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+due&iso={{ module.time_due.isoformat() }}">
    {{ module.time_due.strftime("%B %-d, %Y at %-I:%M%P %Z") }} (Arizona time)
  </a><br><small>(solves after this deadline will count for half value toward your ASU grade, but will still fully count for scoreboard purposes)</small></p>
  {% endif %}

  {% endif %}

  {% if module.time_assigned %}
  <h2>Grades</h2>
  <p>This is the grade you will get on this module (if you are an ASU student enrolled in the class).
  <p>
  <b>On-time solves:</b> {{num_timely_solves}}
  <br><b>Late solves:</b> {{num_late_solves}}
  <br><b>Module grade:</b> {{ (100 * (num_timely_solves + num_late_solves//2) / challenges|length)|round(1) }}%
  </p>
  <p><b>Partial Extra Credit:</b> you solved {{ num_part_ec_solves }} challenges early (out of a required {{ challenges|length // 4 }}).
  {% if num_part_ec_solves >= challenges|length // 4 and num_part_ec_solves < challenges|length // 2 %}
  You've earned 0.5% extra credit to your final grade!
  {% endif %}
  <br><b>Full Extra Credit:</b> you solved {{ num_full_ec_solves }} challenges early (out of a required {{ challenges|length // 2 }}).
  {% if num_part_ec_solves >= challenges|length // 2 %}
  You've earned 1% extra credit to your final grade!
  {% endif %}

  {% endif %}

  {% if module.lectures %}
  <h2>Lectures</h2>

  <div class="accordion" id="lectures">
    {% for lecture in module.lectures %}
    <div class="card">
      <div class="card-header" id="lectureHeading{{ loop.index }}">
        <h2 class="mb-0">
          <button class="btn btn-link text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#lecture{{ loop.index }}" aria-expanded="false" aria-controls="lecture{{ loop.index }}">
            <h4>{{ lecture.name }}</h4>
          </button>
        </h2>
      </div>

      <div id="lecture{{ loop.index }}" class="lecture collapse" aria-labelledby="lectureHeading{{ loop.index }}" data-parent="#lectures">
        <div class="card-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="https://www.youtube.com/embed/{{ lecture.video }}?list={{ lecture.playlist }}&rel=0" title="YouTube video player" allowfullscreen></iframe>
          </div>
          <br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="https://docs.google.com/presentation/d/{{ lecture.slides }}/embed"></iframe>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br style="font-size: 3em">
  {% endif %}

  {% if challenges %}
  <h2>Challenges</h2>

  <div class="accordion" id="challenges">
    {% for challenge in challenges %}
    {% set solved = "challenge-solved" if challenge.solved else "challenge-unsolved" %}
    {% set active = "challenge-active" if challenge.id == current_challenge_id else "" %}
    <div class="card">
      <div class="card-header" id="challengeHeading{{ loop.index }}">
        <h2 class="mb-0">
          <button class="btn btn-link text-decoration-none w-100 collapsed" type="button" data-toggle="collapse" data-target="#challenge{{ loop.index }}" aria-expanded="false" aria-controls="challenge{{ loop.index }}">
            <h4 class="challenge-name {{ active }}">
              <span class="d-sm-block d-md-block d-lg-block">
                <i class="fas fa-flag pr-3 {{ solved }}"></i>{{ challenge.category }} {{ challenge.name }}
              </span>
            </h4>
            <span class="total-solves">{{ challenge.solves }} solves</span>
          </button>
        </h2>
      </div>

      <div id="challenge{{ loop.index }}" class="collapse" aria-labelledby="challengeHeading{{ loop.index }}" data-parent="#challenges">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6 form-group text-center">
              <button id="challenge-start" type="submit" class="btn btn-md btn-outline-secondary w-100">
                <span class="d-sm-block d-md-block d-lg-block">
                  <i class="fas fa-play fa-2x pr-3"></i>Start
                </span>
              </button>
            </div>
            <div class="col-sm-6 form-group text-center">
              <button id="challenge-practice" type="submit" class="btn btn-md btn-outline-secondary w-100">
                <span class="d-sm-block d-md-block d-lg-block">
                  <i class="fas fa-flask fa-2x pr-3"></i>Practice
                </span>
              </button>
            </div>
          </div>
          <div class="row submit-row">
            <div class="col-md-9 form-group">
              <input id="challenge-id" class="challenge-id" type="hidden" value="{{ challenge.id }}">
              <input id="challenge-input" class="challenge-input form-control" type="text" name="answer" placeholder="Flag">
            </div>
            <div class="col-md-3 form-group key-submit">
              <button id="challenge-submit" type="submit" class="challenge-submit btn btn-md btn-outline-secondary float-right w-100 h-100">
                Submit
              </button>
            </div>
          </div>
          <div class="row notification-row">
	    <div class="col-md-12">
	      <div id="result-notification" class="alert alert-dismissable text-center w-100" role="alert" style="display: none;">
		<strong id="result-message"></strong>
	      </div>
	    </div>
	  </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/challenges.js') }}"></script>
{% endblock %}
