{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Modules<br><small>Dojo: {{ dojo.name }}</small></h1>
  </div>
</div>
<div class="container">
  <p>These modules have launched in this dojo. For live classes, currently-assigned modules are outlined in gold.</p>
  <ul class="card-list">
    {% for module in dojo.modules %}
    <a class="text-decoration-none" href="{{ url_for('pwncollege_modules.view_module', dojo=dojo.id, module=module.id) }}">
      <li class="card card-small{% if stats[module.id].active %} card-active{% endif %}">
        <div class="card-body">
          <h4 class="card-title">{{ module.name }}</h4>
          <p class="card-text">
            {{ stats[module.id].solved }} / {{ stats[module.id].count }}
          </p>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
