{% extends "base.html" %}
{% from "macros/widgets.html" import accordion_item %}
{% set is_dojo_admin = dojo.is_admin() %}

{% block stylesheets %}
{{ super() }}

<style>
.scroll-disabled {
  overflow: hidden;
}

.challenge-workspace {
  margin-bottom: 16px;
  margin-top: 16px;
}

.challenge-iframe {
  display: block;
  width: 100%;
  min-height: 60vh;
  aspect-ratio: 16/9;
  border: 0;
}

.challenge-iframe-fs {
  aspect-ratio: unset !important;
  height: calc(100vh - 2.5em - 10px);
}

.challenge-init {
  height: 100% !important;
  width: 100% !important;
}

.challenge-hidden {
  visibility: hidden;
  max-height: 0 !important;
}

.workspace-fullscreen {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1031;/* Navbar z-index + 1 */
  bottom: -16px;
  right: 0;
  background-color: #111;
  width: 100% !important;
  height: 100% !important;
}

.workspace-fullscreen .iframe-wrapper {
  display: flex;
}

.workspace-ssh {
  padding: 1em;
  margin-bottom: 1em;
  background-color: var(--foreground);
  border-radius: 0.5em;
}


.challenge-hidden .workspace-ssh {
  display: none !important;
}
</style>


{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="brand-white brand-mono-bold">{{ module.name or module.id }}</h1>
    <br>
    <h2 class="module-dojo"><a class="brand-white brand-mono-bold" href="{{ url_for('pwncollege_dojo.view_dojo', dojo=dojo.reference_id) }}">{{ dojo.name or dojo.id }}<span class="brand-dot">.</span></a></h2>

    {% if assessments %}
    <br>
    {% for assessment in assessments %}
    <h3 class="module-due-date" title="{{ assessment.date }}">{{ assessment.name }} in {{ assessment.until }}</h3>
    {% endfor %}
    {% endif %}
  </div>
</div>
<div class="container">

  {% if module.description %}
  <div>
    {% if module_description_edit_url %}
      <a href="{{ module_description_edit_url }}"
         target="_blank"
         class="github-edit-link"
         title="Edit on GitHub">
        <i class="fas fa-edit"></i>
      </a>
    {% endif %}
    {{ module.description | markdown }}
  </div>
  <br>
  {% endif %}

  {% if module.resources or module.challenges %}
  {% if is_dojo_admin and not module.show_challenges %}
  <p><i>This module's challenges are hidden from view. You can see them as the dojo's administrator.</i></p>
  {% endif %}

  {% set previous_challenge = None %}

  <div class="accordion" id="module-content">
    {% set ns = namespace(challenge_count=0) %}
    {% for item in module.unified_items %}
      {% if item.item_type == 'resource' %}
        {% set resource = item %}
        {% if resource.type == 'markdown' and resource.expandable == False %}
          <div class="description-content my-3">
            {{ resource.content | markdown }}
          </div>
        {% elif resource.type == 'header' %}
          <br>
          <h2>{{ resource.content }}</h2>
        {% else %}
        {% call(header) accordion_item("module-content", loop.index) %}
          {% if header %}
            {% set resource_icon = "fa-video" if resource.type == "lecture" else "fa-file-alt" %}
            <h4 class="accordion-item-name">
              <i class="resource-icon pr-3 fas {{ resource_icon }}"></i>
              <span class="pr-2">{{ resource.name }}</span>
            </h4>
          {% else %}
            {% if resource.type == "lecture" %}
            {% if resource.video %}
            {% set src = "https://www.youtube.com/embed/" + resource.video + "?" + ("list=" + resource.playlist + "&" if resource.playlist else "") + "rel=0" %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" data-src="{{ src }}" title="YouTube video player" allowfullscreen></iframe>
            </div>
            {% endif %}
            {% if resource.slides %}
            {% set src = "https://docs.google.com/presentation/d/" + resource.slides + "/embed" %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" data-src="{{ src }}"></iframe>
            </div>
            <button onclick="window.open('{{ src.replace('/embed', '') }}', '_blank')" class="btn btn-primary">Open Slides in New Window</button>
            {% endif %}

            {% elif resource.type == "markdown" %}
            <div class="embed-responsive">
              {% if resource_description_edit_urls.get(resource.resource_index) %}
                <a href="{{ resource_description_edit_urls[resource.resource_index] }}"
                   target="_blank"
                   class="github-edit-link"
                   title="Edit on GitHub">
                  <i class="fas fa-edit"></i>
                </a>
              {% endif %}
              {{ resource.content | markdown }}
            </div>
            {% endif %}
          {% endif %}
        {% endcall %}
        {% endif %}
      {% elif item.item_type == 'challenge' and (module.show_challenges or is_dojo_admin) %}
        {% set challenge = item %}
        {% set hidden = challenge not in visible_challenges %}
        {% if not hidden or is_dojo_admin %}
        {% set ns.challenge_count = ns.challenge_count + 1 %}
        {% set solved = "challenge-solved" if challenge.challenge_id in user_solves else "challenge-unsolved" %}
        {% set active = "challenge-active" if challenge.challenge_id == current_challenge_id else "" %}

        {% set progression_locked = challenge.progression_locked and previous_challenge %}
        {% set lock_challenge = progression_locked
          and previous_challenge.challenge_id not in user_solves
          and solved == "challenge-unsolved"
          and not dojo.is_admin() %}
        {% if lock_challenge %}
          {% set icon = "fas fa-lock" %}
        {% elif not challenge.required %}
          {% set icon = "fa fa-flask" %}
        {% else %}
          {% set icon = "fas fa-flag" %}
        {% endif %}

        {% call(header) accordion_item("module-content", loop.index, lock_challenge, challenge_index=ns.challenge_count) %}
          {% if header %}
            <h4 class="accordion-item-name challenge-name {{ active }}" data-challenge-index="{{ ns.challenge_count }}" data-challenge-id="{{ challenge.id }}" data-challenge-name="{{ challenge.name or challenge.id }}" id="challenges-header-{{ ns.challenge_count }}">
                <i class="challenge-icon pr-3 {{ icon }} {{ solved }} "></i>
                {% if lock_challenge %}
                <div class="challenge-text-wrapper">
                  <span class="challenge-name-text">{{ challenge.name or challenge.id }}</span>
                  <span class="challenge-locked-text">Solve <strong></string><span style="color: white">{{ previous_challenge.name or previous_challenge.id }}</span></strong> to unlock this challenge</span>
                  <span class="invisible-placeholder pr-2">{{ challenge.name or challenge.id }}</span>
                </div>
                {% else %}
                <span class="pr-2">{{ challenge.name or challenge.id }}</span>
                {% endif %}
                {% if is_dojo_admin and (progression_locked or hidden) %}
                <small><small><small>
                      <i>
                        {% if progression_locked %}progression locked{% endif %}
                        {% if progression_locked and hidden %} & {% endif %}
                        {% if hidden %}hidden{% endif %}
                      </i>
                      &mdash; this challenge is accessible because you are this dojo's administrator
                </small></small></small>
                {% endif %}
            </h4>
            <span class="challenge-header-right">
              {% if challenge_container_counts.get(challenge.id, 0) > 0 %}
              <span class="total-hackers">
                {{ challenge_container_counts.get(challenge.id, 0) }} hacking,
              </span>
              {% endif %}
              <span class="total-solves">
                {{ total_solves.get(challenge.challenge_id, 0) }} solves
              </span>
            </span>
          {% else %}
            <div class="embed-responsive challenge-description">
              {% if lock_challenge %}
                <p><em>This challenge is locked</em></p>
              {% else %}
                {% if not challenge.required %}<small>This challenge is optional, it will not count towards dojo completion.</small><br><br>{% endif %}
                {% if challenge_description_edit_urls.get(challenge.id) %}
                  <a href="{{ challenge_description_edit_urls[challenge.id] }}"
                     target="_blank"
                     class="github-edit-link"
                     title="Edit on GitHub">
                    <i class="fas fa-edit"></i>
                  </a>
                {% endif %}
                {{ challenge.description | markdown }}
              {% endif %}
            </div>
            <div class="challenge-init row{% if active %} challenge-hidden{% endif %}">
              <div class="col-md-3 form=group text-center">
                <button id="challenge-start" type="submit" class="btn btn-md btn-outline-secondary challenge-init">
                  <i class="fas fa-play fa-lg"></i>Start
                </button>
              </div>
              {% if challenge.allow_privileged %}
              <div class="col-md-3 form=group text-center">
                <button id="challenge-priv" type="submit" class="btn btn-md btn-outline-secondary challenge-init">
                  <i class="fas fa-unlock fa-lg"></i>Privileged
                </button>
              </div>
              {% endif %}
              <div class="col-md-{% if challenge.allow_privileged %}6{% else %}9{% endif %}">
                <input id="module" type="hidden" value="{{ module.id }}">
                <input id="challenge" type="hidden" value="{{ challenge.id }}">
                <input id="challenge-id" type="hidden" value="{{ challenge.challenge_id }}">
                <input id="challenge-input" class="challenge-input form-control" type="text" name="answer" placeholder="Flag">
              </div>
            </div>
            <div class="challenge-workspace {{ "challenge-hidden" if not active }}">
              <div class="iframe-wrapper">
                {% if active %}
                <iframe id="workspace-iframe" class="challenge-iframe" src="" allow="clipboard-read *; clipboard-write *"></iframe>
                {% endif %}
              </div>
              <div class="workspace-ssh">
                <h3>Connect with SSH</h3>
                Link your <a href="/settings#ssh-key" target="_blank">SSH key</a>, then connect with: <code>ssh hacker@dojo.pwn.college</code>
              </div>
              {% include "components/actionbar.html" %}
            </div>
            <div class="row notification-row">
              <div class="col-md-12">
                <div id="result-notification" class="alert alert-dismissable text-center w-100" role="alert" style="display: none;">
                  <strong id="result-message"></strong>
                </div>
              </div>
            </div>
            <div class="row survey-row">
              <div class="col-md-12">
                <form target="survey-target" method="post" action="/pwncollege_api/v1/dojos/{{dojo.reference_id}}/surveys/{{module.id}}/{{challenge.id}}" id="survey-notification" class="survey alert-dismissable w-100 survey-id-{{challenge.challenge_id}}" role="alert" style="display: none;">
                  {{ challenge.survey.data | safe }}
                </form>
              </div>
            </div>
          {% endif %}
        {% endcall %}
        {% endif %}
        {% set previous_challenge = challenge %}
      {% endif %}
    {% endfor %}
  </div>

  <br>
  {% endif %}

  {% if visible_challenges and module.show_scoreboard %}

  <h2 class="row" id="scoreboard-heading">30-Day Scoreboard:</h2>
  <p>This scoreboard reflects solves for challenges in this module after the module launched in this dojo.</p>
  {% from "macros/scoreboard.html" import scoreboard %}
  {{ scoreboard() }}

  {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/actionbar.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='js/dojo/challenges.js') }}"></script>
<script defer onload="loadScoreboard(30, 1);" src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% if scroll_to_challenge %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  setTimeout(() => {
    const el = document.querySelector('[data-challenge-id="{{ scroll_to_challenge }}"]');
    if (!el) return;
    const idx = el.getAttribute('data-challenge-index');
    const btn = idx && document.getElementById(`challenges-header-button-${idx}`);

    const scrollToChallenge = () => {
      const rect = el.getBoundingClientRect();
      const offsetTop = window.pageYOffset + rect.top - 60;
      window.scrollTo({
        top: offsetTop,
        behavior: 'smooth'
      });
    };
    if (btn && btn.getAttribute('aria-expanded') !== 'true') {
      btn.click();
      setTimeout(scrollToChallenge, 400);
    } else {
      scrollToChallenge();
    }
  }, 500);
});
</script>
{% endif %}
{% endblock %}
