{% extends "base.html" %}

{% block stylesheets %}
<style>
  h4 {
      color: rgb(99, 192, 245);
      text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
  }

  .card {
      margin-bottom: 0.5em;
      background-color: inherit;
  }

  .card-header {
      background-color: rgba(255,255,255,0.1);
  }

  .card-body {
      background-color: rgba(255,255,255,0.05);
  }

  .challenge-name {
      margin: 0px;
      padding: 0px !important;
      float: left;
  }

  .challenge-active {
      color: rgb(255,40,245) !important;
  }

  .challenge-solved {
      -webkit-text-stroke: 1px #222;
      -webkit-text-fill-color: #b5e853;
  }

  .challenge-unsolved {
      text-shadow: none;
      -webkit-text-stroke: 1px #222;
      -webkit-text-fill-color: rgba(255,255,255,0.25);
  }

  .total-solves {
      float: right;
      font-size: 0.75em;
      color: #ddd;
  }
</style>
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>{{ module.name }}<h1>
    <br>
    <h2>{{ dojo.name }}</h2>
  </div>
</div>
<div class="container">
  {#

  {% if module.time_assigned or module.time_due %}
  <h2>Dates</h2>

  {% if module.time_assigned %}
  <p><b>Assigned:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+assigned&iso={{ module.time_assigned.isoformat() }}">
    {{ module.time_assigned.strftime("%B %-d, %Y at %-I:%M%P") }} (Arizona time)
  </a><br><small>(solves before this date will not appear on the default scoreboard{% if asu_student %}, but will still count toward your grade{% endif %})</small></p>
  {% endif %}

  {% if module_report.time_ec_part and asu_student %}
  <p><b>Partial Extra Credit Deadline:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+partial extra credit deadline&iso={{ module_report.time_ec_part.isoformat() }}">
    {{ module_report.time_ec_part.strftime("%B %-d, %Y at %-I:%M%P %Z") }} (Arizona time)
  </a><br><small>(if you solve &gt;= a quarter of the challenges in this module by this date, you will earn 0.5% toward your final ASU grade)</small></p>
  {% endif %}

  {% if module_report.time_ec_full and asu_student %}
  <p><b>Full Extra Credit Deadline:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+full extra credit deadline&iso={{ module_report.time_ec_full.isoformat() }}">
    {{ module_report.time_ec_full.strftime("%B %-d, %Y at %-I:%M%P %Z") }} (Arizona time)
    </a><br><small>(if you solve &gt;= half of the challenges in this module by this date, you will earn 1% toward your final ASU grade, instead of the 0.5% above)</small></p>
  {% endif %}

  {% if module.time_due %}
  <p><b>Due:</b>
  <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg={{ module.name }}+due&iso={{ module.time_due.isoformat() }}">
    {{ module.time_due.strftime("%B %-d, %Y at %-I:%M%P %Z") }} (Arizona time)
  </a><br><small>
  {% if asu_student %}
  (solves after this deadline will incur a grade penalty of {{ (module.late_penalty*100 if module.late_penalty else 50)|int }}%, but will still fully count for scoreboard purposes)
  {% else %}
  (after this date, the live session of the dojo will move on to the next module, though solves will still count for scoreboard ranking)
  {% endif %}
  </small></p>
  {% endif %}

  {% if not asu_student %}
  <p>For ASU extra credit due dates, please log in with an <code>@asu.edu</code> email address.</p>
  {% endif %}

  <br style="font-size: 3em">
  {% endif %}

  {% if authed() and asu_student and challenges|length and module.time_assigned %}
  <h2>Grades</h2>
  <p>This is the grade you will get on this module (if you are an ASU student enrolled in the class).</p>
  <p>
  <b>On-time solves:</b> {{module_report.solved_timely}}
  <br><b>Late solves:</b> {{module_report.solved_late}} (late penalty: {{module_report.late_penalty}}%)
  <br><b>Module grade:</b> {{ module_report.module_grade|round(1) }}%
  </p>
  <p><b>Partial Extra Credit:</b> you solved {{ module_report.solved_part_ec }} challenges early (out of a required {{ module_report.ec_threshold // 2 }}).
  {% if module_report.earned_part_ec and not module_report.earned_full_ec %}
  You've earned 0.5% extra credit to your final grade!
  {% endif %}
  <br><b>Full Extra Credit:</b> you solved {{ module_report.solved_full_ec }} challenges early (out of a required {{ module_report.ec_threshold }}).
  {% if module_report.earned_full_ec %}
  You've earned 1% extra credit to your final grade!
  {% endif %}
  </p>

  <br style="font-size: 3em">
  {% endif %}

  #}

  {% if module.resources %}
  <h2>Lectures and Reading</h2>

  <div class="accordion" id="resources">
    {% for resource in module.resources %}
    <div class="card">
      <div class="card-header" id="resourceHeading{{ loop.index }}">
        <h2 class="mb-0">
          <button class="btn btn-link text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#resource{{ loop.index }}" aria-expanded="false" aria-controls="resource{{ loop.index }}">
            <h4>{{ resource.name }}</h4>
          </button>
        </h2>
      </div>

      <div id="resource{{ loop.index }}" class="resource collapse" aria-labelledby="resourceHeading{{ loop.index }}" data-parent="#resources">
        <div class="card-body">
          {% if resource.type == "lecture" %}
          {% if resource.data.video %}
          {% set src = "https://www.youtube.com/embed/" + resource.data.video + "?" + ("list=" + resource.data.playlist + "&" if resource.data.playlist else "") + "rel=0" %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="{{ src }}" title="YouTube video player" allowfullscreen></iframe>
          </div>
          {% endif %}
          {% if resource.data.slides %}
          {% set src = "https://docs.google.com/presentation/d/" + resource.data.slides + "/embed" %}
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" data-src="{{ src }}"></iframe>
          </div>
          {% endif %}

          {% elif resource.type == "markdown" %}
          <div class="embed-responsive">
            {{ render_markdown(resource.data) }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br style="font-size: 3em">
  {% endif %}

  {% if module.challenges %}
  <h2>Challenges</h2>

  <div class="accordion" id="challenges">
    {% for challenge in module.challenges %}
    {% set solved = "challenge-solved" if challenge.challenge_id in user_solves else "challenge-unsolved" %}
    {% set active = "challenge-active" if challenge.challenge_id == current_dojo_challenge.challenge_id else "" %}
    <a id="challenge-{{challenge.name}}"></a>
    <div class="card">
      <div class="card-header" id="challengeHeading{{ loop.index }}">
        <h2 class="mb-0">
          <button class="btn btn-link text-decoration-none w-100 collapsed" type="button" data-toggle="collapse" data-target="#challenge{{ loop.index }}" aria-expanded="false" aria-controls="challenge{{ loop.index }}">
            <h4 class="challenge-name {{ active }}">
              <span class="d-sm-block d-md-block d-lg-block">
                <i class="fas fa-flag pr-3 {{ solved }}"></i>{{ challenge.name }}
              </span>
            </h4>
            <span class="total-solves">{{ total_solves.get(challenge.challenge_id, 0) }} solves</span>
          </button>
        </h2>
      </div>

      <div id="challenge{{ loop.index }}" class="collapse" aria-labelledby="challengeHeading{{ loop.index }}" data-parent="#challenges">
        <div class="card-body">
          <div class="embed-responsive">
            <p>{{ render_markdown(challenge.description) }}</p>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group text-center">
              <button id="challenge-start" type="submit" class="btn btn-md btn-outline-secondary w-100">
                <span class="d-sm-block d-md-block d-lg-block">
                  <i class="fas fa-play fa-2x pr-3"></i>Start
                </span>
              </button>
            </div>
            <div class="col-sm-6 form-group text-center">
              <button id="challenge-practice" type="submit" class="btn btn-md btn-outline-secondary w-100">
                <span class="d-sm-block d-md-block d-lg-block">
                  <i class="fas fa-flask fa-2x pr-3"></i>Practice
                </span>
              </button>
            </div>
          </div>
          <div class="row submit-row">
            <div class="col-md-9 form-group">
              <input id="challenge" type="hidden" value="{{ challenge.id }}">
              <input id="challenge-id" type="hidden" value="{{ challenge.challenge_id }}">
              <input id="challenge-input" class="challenge-input form-control" type="text" name="answer" placeholder="Flag">
            </div>
            <div class="col-md-3 form-group key-submit">
              <button id="challenge-submit" type="submit" class="challenge-submit btn btn-md btn-outline-secondary float-right w-100 h-100">
                Submit
              </button>
            </div>
          </div>
          <div class="row notification-row">
	    <div class="col-md-12">
	      <div id="result-notification" class="alert alert-dismissable text-center w-100" role="alert" style="display: none;">
		<strong id="result-message"></strong>
	      </div>
	    </div>
	  </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br style="font-size: 3em">

  <h2>Module Ranking</h2>
  <p>This scoreboard reflects solves for challenges in this module after the module launched in this dojo.</p>
  {% import "macros.html" as macros %}
  {{ macros.scoreboard() }}

  {% endif %}

</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/challenges.js') }}"></script>
<script defer onload='loadScoreboard(0, 1);' src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}
