{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="brand-mono">Research</h1>
  </div>
</div>
<div class="container">
  <p>
    If you would like to opt-out of the ongoing reseasrch studies taking place on the pwn.college platform, simply send an email to <a href="mailto:research@pwn.college">research@pwn.college</a> with the subject line <code>Research Opt-Out Request</code> from the email you are registered on the platform with, otherwise you may be asked for more details to process your request. You are not required to provide a reason for wanting to opt-out, and there will be no penalties for doing so.
  </p>
</div>
{% endblock %}
