{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Scoreboard</h1>
    <br>
    <h2>{{ dojo.name }}</h2>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  <h2 class="row">Dojo Stats</h2>

  <div class="row">
    <p>
      <b>Hacking Now:</b> <code>{{ stats["active"] }}</code>
      <br>
      <b>Hackers:</b> <code>{{ stats["users"] }}</code>
      <br>
      <b>Challenges:</b> <code>{{ stats["challenges"] }}</code>
      <br>
      <b>Solves:</b> <code>{{ stats["solves"] }}</code>
    </p>
  </div>

  <br>

  <h2 class="row">
    Rankings:&nbsp
    <a href="javascript:loadScoreboard('week', 1)">Week</a> |
    <a href="javascript:loadScoreboard('month', 1)">Month</a> |
    <a href="javascript:loadScoreboard('semester', 1)">Semester</a> |
    <a href="javascript:loadScoreboard('overall', 1)">All Time</a>
  </h2>

  <div class="scoreboard row">
    <div class="col-md-12 p-0">
      <table class="table table-striped">
	<thead>
	  <tr>
	    <td scope="col" class="col-md-1"><b>Rank</b></td>
            <td scope="col" class="col-md-1"></td>
	    <td scope="col" class="col-md-8"><b>Hacker</b></td>
	    <td scope="col" class="col-md-1"></td>
	    <td scope="col" class="col-md-1"><b>Score</b></td>
	  </tr>
	</thead>
	<tbody id="scoreboard">
	</tbody>
      </table>
    </div>
    <div>
      <ul id="scoreboard-pages" class="p-0">
      </ul>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}
