{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Scoreboard</h1>
    <br>
    <h2>{{ dojo.name }}</h2>
  </div>
</div>
<div class="container">
  {% include "components/errors.html" %}

  <h2 class="row">Dojo Stats</h2>

  <div class="row">
    <p>
      <b>Hacking Now:</b> <code>{{ stats["active"] }}</code>
      <br>
      <b>Hackers:</b> <code>{{ stats["users"] }}</code>
      <br>
      <b>Challenges:</b> <code>{{ stats["challenges"] }}</code>
      <br>
      <b>Solves:</b> <code>{{ stats["solves"] }}</code>
    </p>
  </div>

  <br>

  <h2 class="row">
    Rankings:
  </h2>
  <p>
    <a href="javascript:loadScoreboard('week', 1)">Week</a> |
    <a href="javascript:loadScoreboard('month', 1)">Month</a> |
    <a href="javascript:loadScoreboard('dojo', 1)">All Time</a>
  </p>

  {% import "macros.html" as macros %}
  {{ macros.scoreboard() }}
</div>
{% endblock %}

{% block scripts %}
<script defer onload='loadScoreboard("dojo", 1);' src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}
