{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Settings</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" id="settings-profile-tab" data-toggle="pill" href="#profile" role="tab">Profile</a>
        <a class="nav-link" id="settings-key-tab" data-toggle="pill" href="#key" role="tab">SSH Key</a>
        <a class="nav-link" id="settings-private-dojos-tab" data-toggle="pill" href="#private-dojos" role="tab">Private Dojos</a>
        {% if discord_enabled %}
        <a class="nav-link" id="settings-discord-tab" data-toggle="pill" href="#discord" role="tab">Discord</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="profile" role="tabpanel">
          {% include "components/errors.html" %}

          {% with form = Forms.self.SettingsForm(country=country) %}
          {% from "macros/forms.html" import render_extra_fields %}
          <form id="user-profile-form" method="post" accept-charset="utf-8" autocomplete="off" role="form"
                class="form-horizontal">
            <div class="form-group">
              <b>{{ form.name.label }}</b>
              {{ form.name(class="form-control", value=name) }}
            </div>
            <div class="form-group">
              <b>{{ form.email.label }}</b>
              {{ form.email(class="form-control", value=email) }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.confirm.label }}</b>
              {{ form.confirm(class="form-control") }}
            </div>
            <div class="form-group">
              <b>{{ form.password.label }}</b>
              {{ form.password(class="form-control") }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.affiliation.label }}</b>
              {{ form.affiliation(class="form-control", value=affiliation or "") }}
            </div>
            <div class="form-group">
              <b>{{ form.website.label }}</b>
              {{ form.website(class="form-control", value=website or "") }}
            </div>
            <div class="form-group">
              <b>{{ form.country.label }}</b>
              {{ form.country(class="form-control custom-select", value=country) }}
            </div>

	    {{ render_extra_fields(form.extra) }}

            <div id="results" class="form-group">
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-md btn-primary btn-outlined float-right") }}
            </div>
          </form>
          {% endwith %}
        </div>

        <div class="tab-pane fade" id="key" role="tabpanel">
          <form method="post" id="key-form" autocomplete="off">
            <div class="form-group">
              <b><label for="enter-name">SSH Key</label></b>
              <small class="form-text text-muted">Required for accessing challenges over SSH</small>
              <br>
              <input class="form-control" id="key" name="key" type="text" value="{{ ssh_key or "" }}">
            </div>

            <div id="key-results" class="form-group">
            </div>

            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Update">
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="private-dojos" role="tabpanel">
          <h3>Enter Dojo</h3>
          <form method="post" id="private-dojo-enter-form" autocomplete="off">
            <div class="form-group">
              <b><label for="enter-name">Dojo Name</label></b>
              <select class="form-control custom-select" id="enter-name" name="id">
                <option value="">Global Dojo</option>
                {% for dojo in private_dojos %}
                <option {% if dojo.id == active_dojo %}selected{% endif %} value="{{ dojo.id }}">{{ dojo.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Enter">
            </div>
          </form>

          <hr>

          <h3>Join Dojo</h3>
          <form method="post" id="private-dojo-join-form" autocomplete="off">
            <div class="form-group">
              <b><label for="join-code">Dojo Code</label></b>
              <input class="form-control" id="join-code" name="code" type="text" value="">
            </div>
            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Join">
            </div>
          </form>

          <hr>

          <h3>Initialize Dojo</h3>
          <form method="post" id="private-dojo-initialize-form" autocomplete="off">
            <div class="form-group">
              <b><label for="initialize-name">Dojo Name</label></b>
              <input class="form-control" id="initialize-name" name="name" type="text" value="{{ user_dojo.name if user_dojo else "" }}">
            </div>
            <div class="form-group">
              <b><label for="initialize-name">Dojo Data</label></b>
              <textarea class="form-control" id="initialize-data" name="data" rows="4" placeholder="Customize Available Challenges (leave blank for default)">{{ user_dojo.data if user_dojo and user_dojo.data else "" }}</textarea>
            </div>
            <div class="form-group">
              <b><label for="initialize-code">Dojo Code</label></b>
              <input readonly class="form-control" id="initialize-code" name="code" type="text" value="{{ user_dojo.code if user_dojo else "" }}">
            </div>
            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Initialize">
            </div>
          </form>

          <hr>

          <div id="private-dojo-results" class="form-group">
          </div>
        </div>

        {% if discord_enabled %}
        <div class="tab-pane fade" id="discord" role="tabpanel">
          <a href="/discord/connect" class="text-decoration-none">
            <img id="discord-avatar" src="{{ discord_avatar_asset(discord_user) }}">
            <br>
            <h2 class="text-center">
              {% if discord_user %}
              {{ discord_user["user"]["username"] }}
              {% else %}
              <i>Connect Discord Account</i>
              {% endif %}
            </h2>
            <br>
            <div id="discord-results" class="form-group">
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/settings.js') }}"></script>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/settings.js') }}"></script>
{% endblock %}
