{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Settings</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" id="settings-profile-tab" data-toggle="pill" href="#profile" role="tab">Profile</a>
        <a class="nav-link" id="settings-key-tab" data-toggle="pill" href="#key" role="tab">SSH Key</a>
        <a class="nav-link" id="settings-dojos-tab" data-toggle="pill" href="#dojos" role="tab">Dojos</a>
        {% if discord_enabled %}
        <a class="nav-link" id="settings-discord-tab" data-toggle="pill" href="#discord" role="tab">Discord</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="tab-content" id="v-pills-tabContent">

        <div class="tab-pane fade show active" id="profile" role="tabpanel">
          {% include "components/errors.html" %}

          {% with form = Forms.self.SettingsForm(country=country) %}
          {% from "macros/forms.html" import render_extra_fields %}
          <form id="user-profile-form" method="post" accept-charset="utf-8" autocomplete="off" role="form"
                class="form-horizontal">
            <div class="form-group">
              <b>{{ form.name.label }}</b>
              {{ form.name(class="form-control", value=name) }}
            </div>
            <div class="form-group">
              <b>{{ form.email.label }}</b>
              {{ form.email(class="form-control", value=email) }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.confirm.label }}</b>
              {{ form.confirm(class="form-control") }}
            </div>
            <div class="form-group">
              <b>{{ form.password.label }}</b>
              {{ form.password(class="form-control") }}
            </div>

            <hr>

            <div class="form-group">
              <b>{{ form.affiliation.label }}</b>
              {{ form.affiliation(class="form-control", value=affiliation or "") }}
            </div>
            <div class="form-group">
              <b>{{ form.website.label }}</b>
              {{ form.website(class="form-control", value=website or "") }}
            </div>
            <div class="form-group">
              <b>{{ form.country.label }}</b>
              {{ form.country(class="form-control custom-select", value=country) }}
            </div>

	    {{ render_extra_fields(form.extra) }}

            <div id="results" class="form-group">
            </div>

            <div class="form-group">
              {{ form.submit(class="btn btn-md btn-primary btn-outlined float-right") }}
            </div>
          </form>
          {% endwith %}
        </div>

        <div class="tab-pane fade" id="key" role="tabpanel">
          <form method="post" id="key-form" autocomplete="off">
            <div class="form-group">
              <b><label for="enter-name">SSH Key</label></b>
              <small class="form-text text-muted">Required for accessing challenges over SSH</small>
              <br>
              <input class="form-control" id="key" name="key" type="text" value="{{ ssh_key or "" }}">
            </div>

            <div id="key-results" class="form-group">
            </div>

            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Update">
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="dojos" role="tabpanel">

          <hr>

          <h3>Join Dojo</h3>
          <p>
          To join a private dojo:
          <ol>
            <li>Receive the dojo invite code from the private dojo's Sensei.
            <li>Enter the code in the form below and click Join.
            <li>The dojo should now show up in your dojo list and profile.
          </ol>
          </p>
          <p><b>If you want to be graded by the Sensei of this dojo (e.g., the dojo is actually a college course), the dojo Sensei will give you a grade token to put in. If you put in a grade token, both the token and your exactly performance on the dojo will be viewable by the Sensei.</b></p>
          <p>You can change your grade token by simply re-submitting this form with the correct join code and updated grade token. Your challenge solves will not be impacted.</p>
          <form method="post" id="private-dojo-join-form" autocomplete="off">
            <div class="form-group">
              <b><label for="join-code">Dojo Invite Code</label></b>
              <input class="form-control" id="join-code" name="join_code" type="text" value="">
              <b><label for="grade-token">Grade Token</label></b>
              <input class="form-control" id="grade-token" name="grade_token" type="text" value="">
            </div>
            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Join">
            </div>
          </form>

          <hr>

          <h3>Joined Private Dojos</h3>
          {% if dojo_memberships %}
          <table class="table table-striped">
            <thead>
              <tr>
                <td scope="col"><b>Name</b></td>
                <td scope="col"><b>Grade Token</b></td>
                <td scope="col"><b>Actions</b></td>
              </tr>
            </thead>
            <tbody>
              {% for membership in dojo_memberships %}
              <tr>
                <td>{{ membership.dojo.id }}</td>
                <td>{{ membership.grade_token }}</td>
                <td>
                  <form method="post" id="private-dojo-leave-form" autocomplete="off">
                    <div class="form-group text-right">
                      <input id="dojo-id" name="dojo_id" class="dojo-id" type="hidden" value="{{ membership.dojo.id }}">
                      <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Leave Dojo">
                    </div>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>None yet. Join a dojo using the form above!</p>
          {% endif %}

          <hr>

          <h3>Hosted Dojos</h3>
          {% if hosted_dojos %}
          <p>
          Please note:
          </p>
          <ul>
            <li>Dojo updates re-clone the whole repository (too many potential issues in a <code>git pull</code>).
            <li>If you delete a dojo, and later re-create it, we don't guarantee solve persistence.
          </ul>

          <table class="table table-striped">
            <thead>
              <tr>
                <td scope="col"><b>Name</b></td>
                <td scope="col"><b>Repository</b></td>
                <td scope="col"><b>Commit Hash</b></td>
                <td scope="col"><b>Visibility</b></td>
                <td scope="col"><b>Actions</b></td>
              </tr>
            </thead>
            <tbody>
              {% for dojo in hosted_dojos %}
              <tr>
                <td><a href="{{ url_for("pwncollege_dojo.listing", dojo=dojo.id) }}">{{ dojo.name }}</a></td>
                <td><code>{{ dojo_remotes[dojo.id] }}</code></td>
                <td><code>{{ dojo_hashes[dojo.id] }}</code></td>
                <td>{% if dojo.join_code %}Private.<br>Join Code: {{ dojo.join_code }}{% else %}Public{% endif %}</td>
                <td>
                  {% if dojo.join_code %}
                  <form method="post" id="private-dojo-publicize-form" autocomplete="off">
                    <div class="form-group text-right">
                      <input id="dojo-id" name="dojo_id" class="dojo-id" type="hidden" value="{{ dojo.id }}">
                      <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Make Public">
                    </div>
                  </form>
                  {% endif %}
                  <form method="post" id="private-dojo-randomize-form" autocomplete="off">
                    <div class="form-group text-right">
                      <input id="dojo-id" name="dojo_id" class="dojo-id" type="hidden" value="{{ dojo.id }}">
                      <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="{% if dojo.join_code %}Change Join Code{% else %}Make Private{% endif %}">
                    </div>
                  </form>
                  <form method="post" id="private-dojo-delete-form" autocomplete="off">
                    <div class="form-group text-right">
                      <input id="dojo-id" name="dojo_id" class="dojo-id" type="hidden" value="{{ dojo.id }}">
                      <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Delete">
                    </div>
                  </form>
                  <form method="post" id="private-dojo-update-form" autocomplete="off">
                    <div class="form-group text-right">
                      <input id="dojo-replace" name="dojo_replace" type="hidden" value="true">
                      <input id="dojo-repo" name="dojo_repo" type="hidden" value="{{ dojo_remotes[dojo.id] }}">
                      <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Update">
                    </div>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>None yet. Clone a dojo using the form below!</p>
          {% endif %}

          <hr>

          <h3>Host New Dojo</h3>
          <p>
          To host a new dojo:
          <ol>
            <li>Fork the <a href="https://github.com/pwncollege/example-dojo">example dojo repository</a>. Most likely, you want the resulting repository to be private.
            <li>Modify the repository to your liking. <b>Make sure to rename <code>example.yml</code> to the ID you want your repository to have in its eventual URL.</b> A repository with the spec file <code>leet.yml</code> will end up with a URL of TODO.
            <li>If the resulting dojo is private, <a href="https://docs.github.com/en/developers/overview/managing-deploy-keys">add our deploy key</a> to it. The deploy key is <code>{{ deploy_key }}</code>.
            <li>Clone the dojo using the form below. You will need to use SSH URLs (<code>git@github.com:your-user/leet-dojo</code>) for private repositories (after adding the deploy key above). You can use the HTTPS URL (<code>https://github.com/your-user/leet-dojo</code>) for public repositories.
          </ol>
          </p>

          <form method="post" id="private-dojo-create-form" autocomplete="off">
            <div class="form-group">
              <b><label for="dojo-repo">Dojo Repository</label></b>
              <input class="form-control" id="dojo-repo" name="dojo_repo" type="text" value="">
            </div>
            <div class="form-group text-right">
              <input class="btn btn-md btn-primary btn-outlined" id="_submit" name="_submit" type="submit" value="Clone!">
            </div>
          </form>

          <hr>

          <div id="private-dojo-results" class="form-group">
          </div>
        </div>

        {% if discord_enabled %}
        <div class="tab-pane fade" id="discord" role="tabpanel">
          <a href="/discord/connect" class="text-decoration-none">
            <img src="{{ discord_avatar_asset(discord_user) }}" class="discord-avatar">
            <br>
            <h2 class="text-center">
              {% if discord_user %}
              {{ discord_user["user"]["username"] }}
              {% else %}
              <i>Connect Discord Account</i>
              {% endif %}
            </h2>
            <br>
            <div id="discord-results" class="form-group">
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block entrypoint %}
<script defer src="{{ url_for('views.themes', path='js/pages/settings.js') }}"></script>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/settings.js') }}"></script>
{% endblock %}
