{% extends "base.html" %}


{% block stylesheets %}
{{ super() }}

<style>
    html, body {
        margin: 0;
        height: 100%;
        min-height: 100%;
        background-color: var(--background);
        overflow: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    nav, footer {
        flex: none;
    }

    main {
        flex: auto;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    #workspace-iframe {
        flex: 1;
        width: 100%;
        border: none;
    }

    .challenge-workspace {
        flex: auto;
        display:flex;
        flex-direction: column;
    }
</style>
{% endblock %}


{% block content %}
<div class="challenge-workspace">
  <iframe src="" id="workspace-iframe" allow="clipboard-read *; clipboard-write *"></iframe>
  {% include "components/actionbar.html" %}
</div>
{% endblock %}


{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/actionbar.js') }}"></script>
<script defer src="{{ url_for('views.themes', path='js/dojo/workspace.js') }}"></script>
{% endblock %}
