{% extends "base.html" %}


{% block stylesheets %}
{{ super() }}

<style>
html, body, main {
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	{% if hide_navbar %}padding-top: 0px;{% endif %}
}

.challenge-workspace {
	width: 100%;
	height: 100%;
}

.workspace-controls {
	width: 100%;
	height: 10%;
	margin-right: 0px;
	margin-left: 0px;
}

.challenge-content {
	width: 100%;
	height: 90%;
}

.workspace-selector {
	font-size: 1.75vw;
}

.flag-field-dynamic {
	width: calc(50% + {% if not challenge.allow_privileged %}10%{% else %}0%{% endif %} + {% if hide_navbar %}10%{% else %}0%{% endif %});
}

.submit-correct {
	background-color: #0f0 !important;
}

.submit-incorrect {
	background-color: #f00 !important;
}

.submit-warn {
	background-color: #ff0 !important;
}

</style>

{% endblock %}


{% block content %}

{% if hide_navbar %}
<div id="hide-navbar"></div>
{% endif %}

<div class="challenge-workspace">
	<iframe src="" id="challenge-content" class="challenge-content"></iframe>

	<div class="row workspace-controls">
		{% if workspace_selectable %}
		<select id="workspace-select" class="btn btn-outline-secondary workspace-selector" style="width: 10%;">
			{% for name, command in workspace_options.items() %}
			<option value="{{ command }}" {% if name == workspace_active %}id="active"{% endif %}>{{ name }}</option>
			{% endfor %}
		</select>
		{% endif %}
		<button id="start" class="btn btn-md btn-outline-secondary" style="width: 10%;">
			<i class="fas fa-play fa-2x"></i>
		</button>
		{% if challenge.allow_privileged %}
		<button id="start-priv" class="btn btn-md btn-outline-secondary" style="width: 10%;">
			<i class="fas fa-lock-open fa-2x"></i>
		</button>
		{% endif %}
		<button id="restart" class="btn btn-md btn-outline-secondary" style="width: 10%;">
			<i class="fas fa-undo fa-2x"></i>
		</button>
		<input type="hidden" id="challenge-id" value="{{ challenge.challenge_id }}">
		<input id="flag-input" class="form-control flag-field-dynamic" type="text" placeholder="Flag">
		{% if not hide_navbar %}
		<button id="fullscreen" class="btn btn-md btn-outline-secondary" style="width: 10%;">
			<i class="fas fa-expand fa-2x"></i>
		</button>
		{% endif %}
	</div>
</div>

<div id="alert"></div>

{% endblock %}


{% block scripts %}

<script defer src="{{ url_for('views.themes', path='js/dojo/workspace_exp.js') }}"></script>

{% endblock %}