{% extends "base.html" %}


{% block stylesheets %}
{{ super() }}

{% endblock %}


{% block content %}

{% if hide_navbar %}
<div id="hide-navbar"></div>
{% endif %}

<iframe src="" id="challenge-content" width="1200px" height="800px"></iframe>

<div class="row">
	{% if workspace_selectable %}
	<select id="workspace-select">
		{% for name, command in workspace_options.items() %}
		<option value="{{ command }}" {% if name == workspace_active %}id="active"{% endif %}>{{ name }}</option>
		{% endfor %}
	</select>
	{% endif %}
	<button id="start">Start</button>
	{% if challenge.allow_privileged %}
	<button id="start-priv">Priv</button>
	{% endif %}
	<button id="restart">Restart</button>
	<input type="text" placeholder="Flag">
	<button id="fullscreen">Fullscreen</button>
</div>

<div id="alert"></div>

{% endblock %}


{% block scripts %}

<script defer src="{{ url_for('views.themes', path='js/dojo/workspace_exp.js') }}"></script>

{% endblock %}