[Desktop Entry]
Version=1.0
Type=Application
Name=Binary Ninja Free
Comment=Free Version of Binary Ninja
Exec=/opt/binaryninja/binaryninja
Icon=/opt/binaryninja/icon.png
Path=
Terminal=false
StartupNotify=false
