[Desktop Entry]
Version=8.0
Type=Application
Name=IDA Freeware (x64)
Comment=Freeware version of IDA for x64.
Exec=/opt/ida/ida64
Icon=/opt/ida/appico64.png
Path=
Terminal=true
StartupNotify=false
Categories=Application;Development;
