PasswordAuthentication no
UsePAM yes

Subsystem sftp    /usr/lib/openssh/sftp-server

Match User hacker
      AuthorizedKeysCommand /opt/pwn.college/ssh/auth.py
      AuthorizedKeysCommandUser root
      X11Forwarding no
      AllowTcpForwarding no
