PasswordAuthentication no
UsePAM yes

Match User hacker
      AuthorizedKeysCommand /opt/pwn.college/ssh/auth.py
      AuthorizedKeysCommandUser root
      X11Forwarding no
      AllowTcpForwarding no
