[Unit]
Description=Create a pwn.college backup
Requisite=pwn.college.service
After=pwn.college.service

[Service]
Type=simple
ExecStart=dojo backup
ExecCondition=:/bin/sh -c '. /data/config.env; [ "${WORKSPACE_NODE}" -eq 0 ]'
