body {
    background: #151515 url(../img/dojo/bkg.png) 0 0;
}

.modal-content {
    background-color: #151515 !important;
}

body, table, .form-control:focus, .close {
    color: #eaeaea !important;
}

.navbar-brand, .nav-link, h1, h2 {
    color: #b5e853 !important;
}

.navbar > .container {
    justify-content: space-evenly;
}

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104,182,255,0.15);
}

nav {
    border-bottom: 1px dashed #b5e853;
}

.modal-dialog {
    margin-top: 15%;
}

.modal-content {
    border: 1px dashed #b5e853;
}

.navbar-brand, .nav-link, body, p, h1, h2, h3, h4, td {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace !important;
}

.navbar-brand {
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
}

.navbar-brand::before {
    content: "./"
}

.nav-tabs {
    border-bottom: 1px solid #6c757d;
}

.nav-link.active {
    border-color: #6c757d #6c757d #151515 !important;
}

.nav-link:hover:not(.active) {
    border-color: #6c757d !important;
}

.challenge-button {
    margin-bottom: 1.5rem !important
}

.challenge-button > p {
    margin-top: 1rem;
}

.challenge-name {
    padding-bottom: 1rem;
}

.challenge-button > span, .challenge-value {
    display: none;
}

.bg-dark, .jumbotron, .nav-link.active, .form-control {
    background-color: inherit !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(255,255,255,0.1);
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
}

.card-small {
    width: 15em;
    height: 15em;
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.2s ease;
}

.card-active {
    box-shadow:0 0 20px gold;
}

.card-hidden {
    box-shadow:0 0 20px grey;
}

.card-small:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.10);
}

.card-text {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: rgb(234, 234, 234);
    font-size: 0.75em;
}

.scoreboard-name {
    color: rgb(99, 192, 245);
    text-shadow: rgba(104, 182, 255, 0.15) 0px 0px 5px;
}

.scoreboard-symbol {
    margin: auto;
    height: 3em;
    filter: drop-shadow(0px 0px 3px white);
}

.scoreboard-belt {
    height: 1.5em;
    filter: drop-shadow(0px 0px 3px black);
}

.scoreboard-row-me {
    background-color: rgba(255,255,255,0.3) !important;
    border: 2px solid rgba(255,255,255,0.8);
}

.scoreboard-page {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
}

.scoreboard-page-unselected > a {
    color: gray;
}

.scoreboard-page-selected > a {
    font-weight: bold;
}

.discord-avatar {
    display: block;
    margin: auto;
    width: 128px;
    border-radius: 50%;
}
