name: Test
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
defaults:
  run:
    shell: bash -euo pipefail {0}
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - name: Build images
        run: |
          IMAGE=$(docker build -q .)
          TEST_IMAGE=$(docker build -q test)
          echo "IMAGE=$IMAGE" >> "$GITHUB_ENV"
          echo "TEST_IMAGE=$TEST_IMAGE" >> "$GITHUB_ENV"

      - name: Start container
        run: |
          CONTAINER=$(docker run --privileged --rm -d -v "$PWD:/opt/pwn.college:ro" "$IMAGE")
          CONTAINER_IP=$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' "$CONTAINER")
          echo "CONTAINER=$CONTAINER" >> "$GITHUB_ENV"
          echo "CONTAINER_IP=$CONTAINER_IP" >> "$GITHUB_ENV"

      - name: Wait for web readiness
        run: |
          echo "Waiting for container ($CONTAINER) to be ready at $CONTAINER_IP..."
          for i in {1..60}; do
            curl -fsI "http://$CONTAINER_IP:80/" >/dev/null && { echo "Container is ready."; break; }
            sleep 10
          done
          curl -fsI "http://$CONTAINER_IP:80/" >/dev/null || { echo "Timed out waiting for container"; exit 1; }

      - name: Wait for workspace profile
        run: |
          echo "Waiting for workspace profile to be ready..."
          for i in {1..60}; do
            docker exec "$CONTAINER" test -L /data/workspace/nix/var/nix/profiles/dojo-workspace && { echo "Workspace profile is ready."; break; }
            sleep 10
          done
          docker exec "$CONTAINER" test -L /data/workspace/nix/var/nix/profiles/dojo-workspace || { echo "Timed out waiting for workspace profile"; exit 1; }

      - name: Run tests
        run: |
          docker run --rm \
            --add-host localhost.pwn.college:$CONTAINER_IP \
            --add-host workspace.localhost.pwn.college:$CONTAINER_IP \
            $TEST_IMAGE
